.achievements-list {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .achievement {
      ~ .achievement {
        margin-top: rem(32);
      }
    }
  }

  @include media-breakpoint-only(md) {
    margin: rem(-16);

    .achievement {
      width: 50%;
      padding: rem(16);
    }
  }

  @include media-breakpoint-up(lg) {
    margin: rem(-48);

    .achievement {
      padding: rem(48);
    }
  }
}

.achievement {
  display: flex;
  align-items: center;

  &__icon {
    flex-shrink: 0;
    margin-right: rem(32);
  }

  &__text {

  }
}