.btn-link {
  $b: #{&};
  display: inline-flex;
  align-items: center;
  text-decoration: none !important;

  &__icon {
    margin-right: rem(24);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(76);
    height: rem(76);
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black);
    transition: color $timing $easing;

    svg {
      width: rem(24);
      height: rem(24);
      fill: currentColor;
    }
  }

  &__text {
    @include text-default;
    line-height: 1.3;
    border-bottom: 1px solid transparent;
    transition: border-color $timing $easing;
  }

  @include media-breakpoint-down(md) {
    &__icon {
      width: rem(64);
      height: rem(64);

      svg {
        width: rem(20);
        height: rem(20);
      }
    }
  }

  &:hover {
    #{$b}__icon {
      color: var(--color-purple);
    }

    #{$b}__text {
      border-bottom-color: currentColor;
    }
  }
}