.btn-close {
  display: block;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  transition-property: color, opacity;
  transition-duration: $timing;
  transition-timing-function: $easing;

  svg {
    width: rem(20);
    height: rem(20);
    color: inherit;
    fill: currentColor;
  }

  @include media-breakpoint-up(lg) {
    svg {
      width: rem(30);
      height: rem(30);
    }
  }

  &:focus {
    outline: none;
  }

  &--purple {
    color: var(--color-purple);

    &:hover,
    &:focus {
      color: var(--color-purple-light);
    }
  }

  &--white {
    color: var(--color-white);

    &:hover,
    &:focus {
      opacity: 0.8;
      //color: var(--color-yellow);
    }
  }

  &--black {
    color: var(--color-black);

    &:hover,
    &:focus {
      color: var(--color-purple);
    }
  }
}