.btn {
  $b: #{&};

  position: relative;
  overflow: hidden;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none !important;
  user-select: none;
  cursor: pointer;
  color: var(--color-black);
  transition-property: background, color;
  transition-duration: $timing;
  transition-timing-function: $easing;

  &:focus {
    outline: none;
  }

  &__text {
    position: relative;
    z-index: 5;
  }

  &--default {
    border-radius: $btn-radius;
    height: rem($btn-height);
    padding: 0 rem(24);
    font-size: rem(18);

    @include media-breakpoint-up(lg) {
      height: rem($btn-height-lg);
      padding-left: rem(48);
      padding-right: rem(48);
      font-size: rem(20);
    }
  }

  &--small {
    border-radius: $btn-radius;
    height: rem(40);
    padding: 0 rem(16);
    font-size: rem(14);

    @include media-breakpoint-up(lg) {
      height: rem(56);
      padding-left: rem(32);
      padding-right: rem(32);
      font-size: rem(18);
    }
  }


  &--min-width {
    @include media-breakpoint-up(md) {
      min-width: rem(304);
    }
  }

  &--purple {
    background-color: var(--color-purple);
    color: #fff;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(90deg, #6035F6 0%, #AD8CFF 100%);
      opacity: 0;
      border-radius: inherit;
      transition: opacity $timing $easing;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }

  &--white {
    background-color: #fff;
    color: var(--color-black);

    &:hover {
      color: var(--color-purple);
    }
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}

.show-more {
  display: flex;
  justify-content: center;

  @include media-breakpoint-only(sm) {
    .btn {
      width: 100%;
    }
  }
}
