.cursor {
    --size: 17rem;

    opacity: 0;

    top: calc(100vh * var(--cursor-y) - var(--size) / 2);
    left: calc(100vw * var(--cursor-x) - var(--size) / 2);
    //top: calc(var(--cursor-y) - var(--size) / 2);
    //left: calc(var(--cursor-x) - var(--size) / 2);
    z-index: 999;
    position: fixed;
    //position: absolute;
    transition: opacity 0.5s, transform 0.5s;
    //transform: translate3d(
    //    var(--cursor-x),
    //    var(--cursor-y),
    //    0);
    transform: scale(0);
    width: var(--size);
    height: var(--size);
    pointer-events: none;

    &.-enter {
        transform: scale(1);
        .cursor__text {
            opacity: 1;
        }
    }

    &__text {
        top: 1rem;
        left: 1rem;
        right: 0;
        bottom: 0;

        z-index: 2;

        margin: auto;
        position: absolute;

        opacity: 0;

        font-size: 20px;
        line-height: 37px;
        color: #2C3033;

        width: max-content;
        height: max-content;
    }

    svg {
        transition: all 6s linear;
    }
}
