.entity {
  position: absolute;
  z-index: -1;
  user-select: none;
  pointer-events: none;

  //<editor-fold desc="hero">
  &--hero-duck {
    bottom: 100%;
    right: 10vw;
    animation: hero-duck 40s linear infinite 0s;

    img {
      width: rem(815);
      height: rem(815);

      @include media-breakpoint-down(md) {
        width: rem(300);
        height: rem(300);
      }
    }
  }

  &--hero-fire {
    bottom: 100%;
    left: 100%;
    animation: hero-fire 35s linear infinite 0s;

    img {
      width: rem(92);
      height: rem(92);

      @include media-breakpoint-down(md) {
        width: rem(40);
        height: rem(40);
      }
    }
  }

  &--hero-ring {
    top: 30%;
    right: 100%;
    animation: hero-ring 60s linear infinite 0s;

    img {
      width: rem(185);
      height: rem(185);

      @include media-breakpoint-down(md) {
        width: rem(96);
        height: rem(96);
      }
    }
  }
  //</editor-fold>

  //<editor-fold desc="section worth">
  &--worth-tree {
    bottom: 0;
    left: 5%;
    animation: worth-rotate 80s linear infinite 0s;

    img {
      width: rem(661);
      height: rem(682);
    }
  }

  &--worth-fire {
    bottom: 0;
    right: -15%;
    animation: worth-rotate 45s linear infinite 0s;

    img {
      width: rem(357);
      height: rem(357);
    }
  }

  &--worth-star {
    bottom: 10%;
    right: -10%;
    animation: worth-rotate 70s linear infinite 0s;

    img {
      width: rem(460);
      height: rem(460);
    }
  }

  &--worth-blob {
    bottom: 10%;
    right: -10%;
    animation: worth-rotate 50s linear infinite 0s;

    img {
      width: rem(482);
      height: rem(421);
    }
  }

  &--worth-ring {
    bottom: 0;
    right: -15%;
    animation: worth-float 40s ease-in-out infinite 0s;

    img {
      width: rem(469);
      height: rem(469);
    }
  }

  &--worth-small-stick {
    bottom: 30%;
    right: 100%;
    animation: worth-small-stick 30s linear infinite 0s;

    img {
      width: rem(66);
      height: rem(66);
    }
  }

  &--worth-small-arrow {
    bottom: 0;
    right: 100%;
    animation: worth-small-arrow 20s linear infinite 0s;

    img {
      width: rem(63);
      height: rem(69);
    }
  }

  &--worth-small-dots {
    bottom: 15%;
    right: 100%;
    animation: worth-small-dots 15s linear infinite 0s;

    img {
      width: rem(62);
      height: rem(62);
    }
  }

  &--worth-small-ring {
    bottom: 0;
    left: 100%;
    animation: worth-small-ring 15s linear infinite 0s;

    img {
      width: rem(66);
      height: rem(66);
    }
  }

  &--worth-small-arc {
    bottom: 100%;
    right: 15%;
    animation: worth-small-arc 35s linear infinite 0s;

    img {
      width: rem(92);
      height: rem(87);
    }
  }
  //</editor-fold>
}
