.form-vacancy {
  padding: rem(32) rem($card-gutter-sm);

  &__head {
    margin-bottom: rem(40);

    @include media-breakpoint-up(md) {
      margin-bottom: rem(64);
      text-align: center;
    }
  }

  &__heading {
    margin-bottom: rem(16);

    @include media-breakpoint-up(md) {
      margin-bottom: rem(24);
    }
  }

  &__btn {
    margin-top: rem(64);
    display: flex;
    justify-content: center;

    @include media-breakpoint-only(sm) {
      margin-top: rem(40);

      .btn {
        width: 100%;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding-left: rem($card-gutter);
    padding-right: rem($card-gutter);
  }

  @include media-breakpoint-up(lg) {
    padding: rem(80) rem(124);
  }
}


.form-layout {
  $b: #{&};
  display: flex;
  flex-wrap: wrap;

  &__col {
    width: 100%;
  }

  @include media-breakpoint-only(sm) {
    &__group ~ #{$b}__group,
    &__col ~ #{$b}__col {
        margin-top: rem(24);
    }
  }

  @include media-breakpoint-up(md) {
    margin: rem(-12) rem(-20);

    &__col {
      width: 50%;

      &--full {
        width: 100%;
      }
    }

    &__group {
      padding: rem(12) rem(20);
    }
  }
}

.file-upload-group {
  .file-upload-shell {
    width: 100%;
  }

  @include media-breakpoint-only(sm) {
    .file-upload-shell {
      ~ .file-upload-shell {
        margin-top: rem(16);
      }
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;

    .file-upload-shell {
      width: 50%;
    }
  }

  @include media-breakpoint-only(md) {
    margin: rem(-8);

    .file-upload-shell {
      padding: rem(8);
    }
  }

  @include media-breakpoint-up(lg) {
    margin: rem(-12);

    .file-upload-shell {
      padding: rem(12);
    }
  }
}
