.map-wrap {
  position: relative;
  width: 100%;
  height: rem(464);
  border-radius: $radius-default;
  overflow: hidden;

  @include media-breakpoint-only(sm) {
    //height: rem(455);
  }

  @include media-breakpoint-up(lg) {
    //height: rem(455);
  }
}

.map {
  width: 100%;
  height: 100%;
  background-color: #F7F7F7; // цвет фона на карте

  [class$="-ground-pane"] {
    filter: grayscale(100%);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: wait;

    &:not(:only-child) {
      display: none;
    }
  }
}