.nav-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(48);
  height: rem(48);
  border: none;
  padding: 0;
  border-radius: 0;
  transition-property: color, opacity;
  transition-duration: $timing;
  transition-timing-function: $easing;

  svg {
    fill: currentColor;
    width: rem(24);
    height: rem(24);
  }

  @include media-breakpoint-up(lg) {
    width: rem(64);
    height: rem(64);

    svg {
      width: rem(32);
      height: rem(32);
    }
  }

  &:focus {
    outline: none;
  }

  &--default {
    background-color: transparent;
    color: var(--color-black);

    &:not(.-disabled) {
      &:focus,
      &:hover {
        color: var(--color-blue);
      }
    }
  }

  &.disabled {
    opacity: 0;
    pointer-events: none;
  }
}