.pagination-bullets {
  text-align: center;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    transform: none !important;
    transition: background-color $timing $easing;
    margin-left: 8px;
    margin-right: 8px;

    &:focus {
      outline: none;
    }
  }

  &--default {
    .swiper-pagination-bullet {
      background-color: var(--color-graphite);
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: var(--color-purple);
      }
    }
  }
}