.social-list {
  display: flex;
  margin-left: rem(-10);
  margin-right: rem(-10);

  &__item {
    padding-left: rem(10);
    padding-right: rem(10);
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(56);
  height: rem(56);
  background-color: #fff;
  border-radius: 50%;

  svg {
    width: rem(22);
    height: rem(22);
    fill: var(--color-purple);
    transition: fill $timing $easing;
  }

  &:hover {
    svg {
      fill: #8B83FF;
    }
  }
}