.wave {
  overflow: hidden;

  svg {
    width: 200%;
    height: auto;
    fill: var(--color-purple);
  }

  path {
    animation: 5s linear 0s infinite normal none running waveStream;
  }

  &--footer {
    margin-bottom: -1px;
  }
}

@keyframes waveStream {
  to {
    transform: translate3d(-50%, 0, 0)
  }
}