@import "ul-list";

.user-text {
  h5 {
    margin-top: rem(24);
    margin-bottom: rem(16);

    @include media-breakpoint-up(md) {
      margin-top: rem(32);
      margin-bottom: rem(24);
    }
  }

  p {
    margin-top: rem(16);
    margin-bottom: rem(16);

    @include media-breakpoint-up(md) {
      margin-top: rem(24);
      margin-bottom: rem(24);
    }
  }

  h5,
  ul,
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}