.ul-list,
.user-text ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: rem(40);
    margin-bottom: rem(24);

    &::before {
      content: '';
      position: absolute;
      top: 0.5em;
      left: 0;
      display: block;
      width: rem(13);
      height: rem(13);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("../assets/images/list-style-star.svg");
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: rem(16);
      padding-left: rem(24);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
