.brand-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hr {
    margin: 0;
    width: 100%;
    border: 0;
    border-top: 1px solid var(--color-grey);

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    &__item {
      margin-bottom: rem(24);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__item {
      padding: rem(16);
      width: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__item {
      width: 33.33%;
      //justify-content: flex-start;
      //
      //&:nth-child(3n+2) {
      //  justify-content: center;
      //}
      //
      //&:nth-child(5n-2) {
      //  justify-content: flex-end;
      //}
    }
  }
}