@import "stories";
@import "brand-list";

[data-animate-push-text] {
  span {
    font-size: 0;
    opacity: 0;
    transition: font-size $timing $easing, opacity $timing $easing;

    &.active {
      font-size: inherit;
      opacity: 1;
    }
  }
}