.story-head {
  margin-bottom: rem(64);

  @include media-breakpoint-only(md) {
    margin-bottom: rem(80);
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: rem(128);
  }

  &__name {
    margin-bottom: rem(4);
  }

  &__subheading {
    margin-top: rem(24);
    color: var(--color-graphite);

    @include media-breakpoint-up(lg) {
      margin-top: rem(32);
    }
  }
}

.story-layout {
  section,
  .image-single {
    margin-top: rem(48);
    margin-bottom: rem(48);

    @include media-breakpoint-only(md) {
      margin-top: rem(64);
      margin-bottom: rem(64);
    }

    @include media-breakpoint-up(lg) {
      margin-top: rem(96);
      margin-bottom: rem(96);
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  section {
    p {
      @include media-breakpoint-up(lg) {
        max-width: rem(930);
      }
    }
  }
}

.story-cols {
  img {
    width: 100%;
    height: auto;
  }

  @include media-breakpoint-down(md) {
    img {
      max-width: rem(400);
    }

    &__right {
      margin-top: rem(32);
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;

    &__left {
      width: 53%;
    }

    &__right {
      align-self: center;
      width: 47%;
      padding-left: 5%;
    }
  }
}

.story-absolute {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
    position: relative;
  }
  img {
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: -12rem;
      z-index: -1;
    }
  }
}

.image-single {
  width: 100%;
  height: auto;
  border-radius: $radius-default;
}

.image-scroll-outer {
  @include media-breakpoint-only(sm) {
    padding-left: rem($container-gutter-sm);
    padding-right: rem($container-gutter-sm);
    margin-left: rem(-$container-gutter-sm);
    margin-right: rem(-$container-gutter-sm);
    overflow-y: hidden;
    overflow-x: auto;

    img,
    svg {
      width: 250%;
      height: auto;
    }
  }

  @include media-breakpoint-up(md) {
    img,
    svg {
      width: 100%;
      height: auto;
    }
  }
}
