.section-grades {
    //margin-top: 7rem;
    margin-top: 0;
    padding-bottom: 5rem;
    margin-bottom: 5rem;

    &__wrapper {
      height: 200vh;
      position: relative;
      [data-grades-title] {
        top: 20px;
        left: 20px;
        right: 0;
        bottom: 0;

        z-index: 2;
        margin: auto;
        position: absolute;

        letter-spacing: 3px;
        text-transform: uppercase;
        color: #fff;

        width: max-content;
        height: max-content;
        @media (max-width: 620px) {
          font-size: 12px
        }
      }

      svg {
        &[data-grades-svg] {
          transform-origin: center center;
          transition: all 0.3s;
          transform: scale(0.25);
          @media (max-width: 620px) {
            width: calc(100% - 150px);
          }
          @media (max-width: 420px) {
            width: calc(100% - 30px)
          }
        }
        [data-grades-circle],
        [data-grades-triangle] {
          transition: transform 0.3s;
        }
        [data-grades-circle] {
          animation: circle 3s infinite ease-in-out;
        }
        [data-grades-triangle] {
          animation: triagle 3s infinite ease-in-out;
        }
      }
      @keyframes triagle {
        from {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(-30px, 60px);
        }
        to {
          transform: translate(0, 0);
        }
      }
      @keyframes circle {
        from {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(0px, -60px);
        }
        to {
          transform: translate(0, 0);
        }
      }
    }


    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50%;
        @media (max-width: 991px) {
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    &__left {
        position: relative;
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        position: relative;
        @media (max-width: 991px) {
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
          margin-top: -3rem;
          overflow: hidden;
          width: calc(100% + 2rem);
          margin-left: -1rem;
        }
    }


}
