.section {
  position: relative;
  margin-top: rem(80);
  margin-bottom: rem(80);

  @include media-breakpoint-up(lg) {
    margin-top: rem(208);
    margin-bottom: rem(208);
  }
}

.section-intro {
  position: relative;

  &__number {
    @include text-default;
    font-weight: bold;
    color: var(--color-grey);
  }

  &__heading {
    margin-bottom: rem(24);
  }

  &__desc {
    max-width: rem(770);
  }

  @include media-breakpoint-down(md) {
    &__number {
      margin-bottom: rem(12);
    }
  }

  @include media-breakpoint-up(lg) {
    &__heading {
      margin-bottom: rem(32);
    }

    &__number {
      position: absolute;
      top: rem(12);
      right: calc(100% + #{rem(72)});
    }
  }
}

