.hero {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: rem(64);
  padding-bottom: rem(64);
  background-color: var(--color-purple);
  background-image: var(--gradient-purple-blue);
  color: #fff;
  overflow: hidden;

  &__inner {

  }

  &__heading {
    @include media-breakpoint-down(sm) {
      word-break: break-word;
    }
  }

  &__desc {
    margin-top: rem(24);
  }

  &__action {
    margin-top: rem(48);
  }
}