.header-bar {
  $b: #{&};
  $sandwich-width: 41;
  $sandwich-width-sm: 32;
  position: absolute;
  z-index: 100;
  left: 3vh;
  top: 3vh;
  right: 3vh;
  color: var(--color-black);
  display: flex;
  align-items: center;
  padding-right: #{$sandwich-width}px; // центрирование лого
  pointer-events: none;

  &__logo {
    position: relative;
    transition-property: opacity, visibility, color, background;
    transition-timing-function: $easing;
    transition-duration: $timing;
    pointer-events: auto;
    padding: rem(12);
    border-radius: 10px;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      border-radius: inherit;
      background-image: var(--gradient-purple-blue);
      opacity: 0;
      transition-property: opacity;
      transition-timing-function: $easing;
      transition-duration: $timing;
    }

    svg {
      color: inherit;
      fill: currentColor;
      width: rem(140);
      height: rem(19);
    }

    .scrolled-from-zero & {
      color: var(--color-white);

      &:before {
        opacity: 1;
      }
    }

    .scroll-down & {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__sandwich {
    position: relative;
    border-radius: 0;
    border: 0;
    background-color: transparent;
    color: inherit;
    padding: 0;
    width: #{$sandwich-width}px;
    -webkit-tap-highlight-color: rgba(#fff, 0);
    pointer-events: auto;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
    }

    i {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: currentColor;
      transition-duration: $timing;
      transition-timing-function: $easing;

      &:nth-child(1) {
        transition-property: color, transform, top;
      }

      &:nth-child(2) {
        transition-property: color, transform, bottom;
      }

      &:nth-child(2) {
        width: 68%;
        margin-top: 6px;
        margin-bottom: 6px;
        transition-property: color, width, opacity, margin;
      }
    }

    &:focus {
      outline: none;
    }

    &:hover {
      @include media-breakpoint-up(lg) {
        i {
          &:nth-child(2) {
            width: 100%;
          }
        }
      }
    }

    .menu-opened & {
      i {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(45deg);

          @include media-breakpoint-down(sm) {
            top: 8px;
          }
        }

        &:nth-child(2) {
          width: 0;
          opacity: 0;
          margin-left: auto;
          margin-right: auto;
        }

        &:nth-child(3) {
          bottom: 10px;
          transform: rotate(-45deg);

          @include media-breakpoint-down(sm) {
            bottom: 8px;
          }
        }
      }
    }
  }

  .header--white & {
    color: #fff;
  }

  .menu-opened & {
    color: #fff;

    #{$b}__logo {
      opacity: 1;
      visibility: visible;
    }
  }

  @include media-breakpoint-only(sm) {
    top: 2vh;
  }

  @include media-breakpoint-only(md) {
    left: rem($container-gutter-md);
    right: rem($container-gutter-md);
  }

  @include media-breakpoint-down(sm) {
    left: rem($container-gutter-sm);
    right: rem($container-gutter-sm);
    padding-right: 0;
    justify-content: space-between;

    &__logo {
      svg {
        width: rem(120);
        height: rem(17);
      }
    }

    &__sandwich {
      order: 1;
      width: #{$sandwich-width-sm}px;

      i {
        height: 3px;

        &:nth-child(2) {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__logo {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
