.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .menu-opened & {
    @include media-breakpoint-down(md) {
      &:before {
        content: '';
        position: absolute;
        z-index: $z-header-menu + 10;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        height: rem(56);
        backdrop-filter: blur(10px);
      }
    }
  }
}

@import "header-bar";
@import "nav-menu";
