.header-menu {
  position: absolute;
  z-index: $z-header-menu;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-image: var(--gradient-purple-blue);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-timing-function: $easing;
  transition-duration: $timing;
  overflow-x: hidden;
  overflow-y: auto;

  .menu-opened & {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__nav {
  }

  &__bottom {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transform: translateY(8px);
    transition-property: opacity, visibility, transform;
    transition-timing-function: $easing;
    transition-duration: $timing;

    .menu-opened & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__contacts {
    margin-right: rem(80);

    &-phone {
      white-space: nowrap;
      font-weight: bold;
      font-size: rem(20);
    }

    &-mail {
      font-weight: 300;
    }
  }

  &__social {
    display: flex;

    &-link {
      margin-right: rem(40);
      font-weight: 300;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__inner {
      padding-top: rem(80);
    }

    &__nav {
      margin-bottom: rem(40);
    }

    &__bottom {
      padding-bottom: rem(32);
    }
  }

  @include media-breakpoint-down(sm) {
    &__bottom {
      flex-direction: column;
      align-items: flex-start;
    }

    &__nav {
      margin-bottom: rem(32);
    }

    &__social {
      margin-top: rem(24);
    }
  }

  @include media-breakpoint-up(lg) {
    &__inner {
      padding-top: 25vh;
      padding-bottom: 10vh;
    }

    &__nav{
      margin-bottom: rem(64);
    }
  }
}


.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    margin-bottom: rem(12);
    font-weight: bold;
    font-size: rem(24);
    line-height: 1.3;

    @include media-breakpoint-only(md) {
      font-size: rem(32);
      margin-bottom: rem(24);
    }

    @include media-breakpoint-up(lg) {
      font-size: rem(54);
      margin-bottom: rem(20);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none !important;
    transition-property: opacity, transform;
    transition-duration: $timing;
    transition-timing-function: $easing;
    opacity: 0;
    transform: translateY(10px);

    .menu-opened & {
      opacity: 1;
      transform: translateY(0);
    }

    @include media-breakpoint-up(lg) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    columns: 2;
    column-gap: rem(64);
  }
}
