<!doctype html>
<html lang="ru">
{% set title = "Верстка HR landing" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#6e28f7">
    <meta name="msapplication-TileColor" content="#6e28f7">
    <meta name="theme-color" content="#6e28f7">

    <title>{{ title }}</title>
    <meta name="description" content="Разработчики, менеджеры, дизайнеры, маркетологи — ждём ваши резюме! На сайте описание вакансий, полезные советы для кандидатов и важные факты о Southmedia — перфоманс-агентстве в Краснодаре." />
    <meta name="og:title" content="">
    <meta name="og:description" content="Разработчики, менеджеры, дизайнеры, маркетологи — ждём ваши резюме! На сайте описание вакансий, полезные советы для кандидатов и важные факты о Southmedia — перфоманс-агентстве в Краснодаре.">
    <meta name="og:type" content="Southmedia">
    <meta name="og:image" content="assets/images/og.jpg">

    <link href="css/bundle.css?{{ date().getTime() }}" rel="stylesheet">
</head>
<body class="loading">
{% include 'blocks::header/header.twig' %}
<main>
    <div data-scroll>
        {% block content %}{% endblock %}
    </div>
</main>
<div id="hoverEffectThree"></div>
{% include 'blocks::footer/footer.twig' %}

{% include 'blocks::cookie-message.twig' %}

{% include 'blocks::popups/popup-worth.twig' %}
{% include 'blocks::popups/popup-story.twig' %}
{% include 'blocks::popups/popup-vacancy.twig' %}

{% include 'blocks::popups/popup-thanks.twig' %}
{% include 'blocks::popups/popup-error.twig' %}

{% include 'blocks::cursor.twig' %}

<script src="js/bundle.js?{{ date().getTime() }}" defer></script>
</body>
</html>
