{% set socialList = [
    {
        title: "Instagram",
        icon: "images::social/instagram.svg",
        href: "https://www.instagram.com/southmediaru/"
    },{
        title: "Facebook",
        icon: "images::social/facebook.svg",
        href: "https://www.facebook.com/southmedia/"
    }
] %}

{% set mapOptions = {
    center: [45.023073, 39.029729],
    centerMobile: [45.023073, 39.029729],
    zoom: 15,
    zoomMobile: 15
} %}

{% set marks = [
    {
        position: [45.024199, 39.031604],
        iconImageHref: "assets/images/map/marker-southmedia.svg",
        iconImageSize:[49, 62],
        iconImageOffset: [-25, -62]
    }
] %}

<div class="wave wave--footer">
    {% include 'images::waves/wave-sm-flip.svg' %}
</div>
<footer class="footer" data-color-layer>
    <div class="container">
        <div class="footer__logo">
            {% include 'images::logo/southmedia.svg' %}
        </div>
        <div class="footer__form">
            {% include 'blocks::form-vacancy.twig' with {
                form: {
                    heading: "Нет подходящей вакансии?",
                    desc: "Возможно, она появится позже, и мы рассмотрим твоё резюме!<br>Отправляй смелее.",
                    selectAttr: "data-select-vacancy-footer",
                    btn: {
                        minWidth: true,
                        theme: "white",
                        type: "submit",
                        text: "Отправить"
                    }
                }
            } %}
        </div>
        <div class="footer__contacts">
            <div class="footer__contacts-text">
                <p>
                    <b><a href="tel:+79996348658" class="link-latent">+7 (999) 634 86 58</a></b><br>
                    <b><a href="tel:+78612388348" class="link-latent">+7 (861) 238 83 48</a></b>
                </p>
                <p>
                    <a href="mailto:hr@southmedia.ru" class="link-latent">hr@southmedia.ru</a>
                </p>
                <p>
                    350075, Краснодар<br>
                    ул. Селезнёва, дом 88/1, вход со&nbsp;стороны озера
                </p>

                <div class="social-list mt-24 mt-lg-32">
                    {% for item in socialList %}
                        <div class="social-list__item">
                            <a href="{{ item.href }}" class="social-link"
                               target="_blank" rel="noreferrer" title="{{ item.title }}">
                                {% include ~ item.icon %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="footer__contacts-map">
                <div class="map-wrap" data-ymap-trigger>
                    <div class="map" data-ymap
                         data-ymap-options='{{ mapOptions|json_encode() }}'
                         data-ymap-markers='{{ marks|json_encode() }}'>
                        <img src="assets/images/map/map-placeholder.jpg"
                             srcset="assets/images/map/map-placeholder@2x.jpg 2x"
                             alt="Карта">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <a href="https://southmedia.ru/" target="_blank" title="southmedia.ru"
               class="link-latent">Перейти на основной сайт</a>
        </div>
    </div>
</footer>