<div class="cookie-message" data-cookie-message>
    <div class="cookie-message__text text-caption">
        Мы используем файлы cookie.
        <a href="https://southmedia.ru/local/templates/sm/files/docs/fz.pdf"
           target="_blank" class="link-decorated">Подробнее</a>
    </div>
    {% include 'components::btn.twig' with {
        btn: {
            size: "small",
            text: "Соглашаюсь",
            class: "cookie-message__btn",
            attr: "data-cookie-btn"
        }
    } %}
</div>
