<form action="ajax/send.php" data-form-validate="true" class="form-vacancy">
    {% if form.heading or form.desc %}
        <div class="form-vacancy__head">
            {% if form.heading %}
                <h2 class="form-vacancy__heading h2">{{ form.heading|raw }}</h2>
            {% endif %}
            {% if form.desc %}
                <div class="form-vacancy__desc text-default">{{ form.desc|raw }}</div>
            {% endif %}
        </div>
    {% endif %}

    <div class="form-vacancy__layout form-layout">
        <div class="form-layout__col">
            <div class="form-layout__group">
                {% include 'components::inputs/input.twig' with {
                    field: {
                        label: "ФИО",
                        placeholder: "",
                        name: "fio",
                        required: true,
                        message: "Некорректно введено ФИО"
                    }
                } %}
            </div>
            <div class="form-layout__group">
                {% include 'components::inputs/input.twig' with {
                    field: {
                        type: "email",
                        label: "Почта",
                        placeholder: "e-mail@mail.ru",
                        name: "email",
                        required: true,
                        message: "Некорректно введена почта"
                    }
                } %}
            </div>
        </div>
        <div class="form-layout__col">
            <div class="form-layout__group">
                <span class="field-label">Я хочу работать:</span>
                <div {{ form.selectAttr }} data-field="true"></div>
            </div>
            <div class="form-layout__group">
                <div class="field-label">Прикрепить документы</div>

                <div class="file-upload-group">
                    {% include 'components::inputs/file-upload.twig' with {
                        field: {
                            label: "Резюме",
                            name: "resume",
                            required: true,
                            message: "Резюме обязательно",
                            accept: ".adoc, .doc, .docm, .docx, .dot, .dotx, .pages, .oxps, .odt, .odm, .pdf, .pmd, .pub, .rtf, .txt, .xml"
                        }
                    } %}

                    {% include 'components::inputs/file-upload.twig' with {
                        field: {
                            label: "Сопроводительное письмо",
                            name: "letter",
                            required: true,
                            message: "Сопроводительное письмо обязательно",
                            accept: ".adoc, .doc, .docm, .docx, .dot, .dotx, .pages, .oxps, .odt, .odm, .pdf, .pmd, .pub, .rtf, .txt, .xml"
                        }
                    } %}
                </div>

            </div>
        </div>


        <div class="form-layout__col form-layout__col--full">
            <div class="form-layout__group">
                {% include 'components::inputs/checkbox.twig' with {
                    field: {
                        checked: true,
                        name: "personal",
                        text: "Я согласен на <a href='https://southmedia.ru/local/templates/sm/files/docs/fz.pdf' target='_blank'>обработку персональных данных</a>"
                    }
                } %}
            </div>
        </div>

    </div>

    <div class="form-vacancy__btn">
        {% include 'components::btn.twig' with {
            btn: form.btn
        } %}
    </div>
</form>
