<section class="hero" data-color-layer>
    <div class="hero__inner container">
        <div class="hero__content">
            <h1 class="hero__heading h1">Наша супер&shy;способность — долгосрочные отношения</h1>
            <div class="hero__desc h3">И&nbsp;клиенты, и&nbsp;сотрудники остаются с&nbsp;нами годами</div>
            <div class="hero__action">
                <a href="#section-vacancy" class="btn-link" data-anchor>
                    <span class="btn-link__icon">
                        {% include 'images::/arrows/chevron-1-right.svg' %}
                    </span>
                    <span class="btn-link__text">Посмотреть вакансии</span>
                </a>
            </div>
        </div>

        <div class="entity entity--hero-duck">
            <img src="assets/images/entities/duck.svg" alt="duck">
        </div>
        <div class="entity entity--hero-fire">
            <img src="assets/images/entities/fire-green.svg" alt="fire">
        </div>
        <div class="entity entity--hero-ring">
            <img src="assets/images/entities/ring-yellow.svg" alt="ring">
        </div>
    </div>
</section>
