:root {
  --color-purple: #6E28F7;
  --color-purple-light: #8B83FF;
  --color-red: #FF5A45;
  --color-green: #11BC87;
  --color-blue: #375AF4;
  --color-yellow: #FFC607;

  --color-white: #fff;
  --color-true-black: #2C3033;
  --color-black: #2C3033;
  --color-grey: #DFE1E2;
  --color-graphite: #A3A4AB;


  --color-warning: #FF5A45;

  --body-background-color: #fff;

  --gradient-purple-blue: linear-gradient(188.31deg, #6E28F7 -16.73%, #6582FF 105.24%);
  --gradient-yellow-green: linear-gradient(44.23deg, #FFC607 1.84%, #11BC87 97.52%);
  --gradient-purple-red: linear-gradient(134.78deg, #6E28F7 6.12%, #FF5A45 99.39%);
}
