// Media breakpoints
$grid-breakpoints: (
    sm: 0,
    md: 640px,
    lg: 990px,
) !default;

// Spacing sizes
$spacers: () !default;
$spacers: map-merge((
    0: 0,
    8: 8,
    16: 16,
    24: 24,
    32: 32,
    40: 40,
    48: 48,
    64: 64,
    72: 72,
    80: 80,
    128: 128,
), $spacers);

$font-family-GothamPro: 'Gotham Pro', Arial, sans-serif;

$colors: (
    "white": var(--color-white),
    "black": var(--color-black),
    "grey": var(--color-grey),
    "purple": var(--color-purple),
    "yellow": var(--color-yellow),
);

$timing: 0.3s;
$easing: ease;

$z-header: 200;
$z-footer: 100;
$z-popup: 500;
$z-header-menu: 50;

$container-gutter: 128;
$container-inner-width: 1200;
$container-max-width: $container-gutter * 2 + $container-inner-width; // use: rem($container-max-width)

$container-gutter-sm: 16;
$container-gutter-md: 32;

$radius-default: 15px;
$btn-radius: 82px;
$btn-height: 64;
$btn-height-lg: 77;
$input-radius: 10px;
$input-height: 56;
$input-height-lg: 70;

$card-gutter-sm: 24;
$card-gutter: 64;

$popup-simple-width-md: 384;
$popup-simple-width-lg: 736;


$chevron-1-right-white: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.366 2.244a2.13 2.13 0 0 1 3.01 0l8.122 8.122c.832.831.832 2.18 0 3.01l-8.121 8.122a2.129 2.129 0 1 1-3.011-3.01l6.616-6.617-6.616-6.616a2.13 2.13 0 0 1 0-3.011z'/%3E%3C/svg%3E%0A");
