.footer {
  position: relative;
  padding-top: rem(64);
  background-color: var(--color-purple);
  background-image: linear-gradient(180deg, #6E28F7 5%, #6582FF 105.24%);
  color: #fff;
  @include text-default;

  @include media-breakpoint-up(lg) {
    padding-top: rem(120);
  }

  &__logo {
    svg {
      margin-left: auto;
      margin-right: auto;
      width: rem(288);
      height: rem(39);

      @include media-breakpoint-down(sm) {
        width: rem(160);
        height: auto;
      }
    }
  }

  &__form {
    margin-top: rem(64);
    margin-bottom: rem(40);
    border-radius: $radius-default;
    background-color: rgba(#fff, 0.1);

    @include media-breakpoint-up(lg) {
      margin-top: rem(144);
      margin-bottom: rem(64);
    }
  }

  &__contacts {
    padding-top: rem(64);
    padding-bottom: rem(64);
    display: flex;

    &-text {
      p {
        margin-top: rem(24);
        margin-bottom: rem(24);

        @include media-breakpoint-up(lg) {
          margin-top: rem(32);
          margin-bottom: rem(32);
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include media-breakpoint-down(md) {
      flex-direction: column;

      &-map {
        margin-top: rem(40);
      }
    }

    @include media-breakpoint-down(sm) {
      padding-top: rem(40);
      padding-bottom: rem(40);
    }

    @include media-breakpoint-up(lg) {
      &-text {
        width: 45%;
        padding-right: 10%;
        align-self: center;
      }

      &-map {
        width: 55%;
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(#fff, 0.3);
    padding-top: rem(40);
    padding-bottom: rem(40);

    @include media-breakpoint-down(sm) {
      padding-top: rem(24);
      padding-bottom: rem(24);
    }
  }
}