{% set navMenu = [
    {
        href: "#section-about",
        text: "О нас",
        attr: "data-anchor"
    },{
        href: "#section-worth",
        text: "Ценности",
        attr: "data-anchor"
    },{
        href: "#section-team",
        text: "Команда",
        attr: "data-anchor"
    },{
        href: "#section-cases",
        text: "Развитие",
        attr: "data-anchor"
    },{
        href: "#section-workflow",
        text: "Порядок в&nbsp;работе",
        attr: "data-anchor"
    },{
        href: "#section-well-being",
        text: "Well-being",
        attr: "data-anchor"
    },{
        href: "#section-story",
        text: "Истории успеха",
        attr: "data-anchor"
    },{
        href: "#section-vacancy",
        text: "Вакансии",
        attr: "data-anchor"
    }
] %}

<header class="header" data-header>
    <div class="header-bar">
        <button type="button" class="header-bar__sandwich" data-menu-switch>
            <i></i><i></i><i></i>
        </button>
        <a href="#" class="header-bar__logo" data-anchor>
            {% include 'images::logo/southmedia.svg' %}
        </a>
    </div>

    <div class="header-menu">

        <div class="header-menu__inner container">
            <nav class="header-menu__nav">
                <ul class="nav-menu" data-nav-menu>
                    {% for item in navMenu %}
                        <li class="nav-menu__item">
                            <a href="{{ item.href }}"
                               class="nav-menu__link" data-anchor data-nav-menu-item>{{ item.text|raw }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="header-menu__bottom text-caption" data-header-menu-bottom>
                <div class="header-menu__contacts">
                    <a href="tel:+78612388348"
                       class="header-menu__contacts-phone link-latent h5">+7 (861) 238 83 48</a>
                    <br>
                    <a href="mailto:hello@southmedia.ru"
                       class="header-menu__contacts-mail link-latent">hello@southmedia.ru</a>
                </div>
                <div class="header-menu__social">
                    <a href="https://www.instagram.com/southmediaru/" target="_blank" rel="noreferrer"
                       class="header-menu__social-link link-latent">instagram</a>
                    <a href="https://www.facebook.com/southmedia/" target="_blank" rel="noreferrer"
                       class="header-menu__social-link link-latent">facebook</a>
                </div>
            </div>
        </div>

    </div>
</header>
