.cards-list {
  $b: #{&};
  display: flex;

  &__item {
    display: flex;
  }

  @include media-breakpoint-only(sm) {
    .swiper-slide:not(.swiper-slide-active) {
      .entity {
        animation-play-state: paused;
      }
    }
  }

  @include media-breakpoint-only(md) {
    flex-direction: column;

    &__item {
      ~ #{$b}__item {
        margin-top: rem(32);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin: rem(-20);
    width: auto;
    flex-wrap: wrap;

    &__item {
      height: auto;
      padding: rem(20);
      width: 50%;

      &--wide {
        width: 100%;
      }
    }
  }
}

.workflow-list {
  $b: #{&};
  display: flex;

  @include media-breakpoint-only(sm) {
    &__item {
      width: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    flex-wrap: wrap;
    margin: rem(-20);

    &__item {
      padding: rem(20);
    }
  }

  @include media-breakpoint-only(md) {
    &__item {
      width: 33.33%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__item {
      width: 25%;
    }
  }
}
