.card-worth {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: rem($card-gutter-sm);
  border-radius: $radius-default;
  background-color: var(--color-grey);
  color: #fff;
  overflow: hidden;

  &__heading {
    margin-bottom: rem(16);
  }

  &__more {
    position: relative;
    margin-top: rem(4);
    display: flex;
    align-items: center;
    font-weight: 500;

    &:after {
      content: '';
      display: block;
      margin-left: rem(4);
      width: rem(12);
      height: rem(12);
      background-image: $chevron-1-right-white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .entity {
    @include media-breakpoint-down(md) {
      &--worth-small-stick,
      &--worth-small-arrow,
      &--worth-small-dots,
      &--worth-small-ring,
      &--worth-small-arc {
        opacity: 0.5;
      }
    }
  }

  @include media-breakpoint-only(sm) {
    &__desc {
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  @include media-breakpoint-up(md) {
    padding: rem($card-gutter);

    &__more {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: rem(180);
  }

  &--safety {
    background-color: var(--color-purple);
  }

  &--openness {
    background-color: var(--color-green);
  }

  &--relevance {
    background-color: var(--color-yellow);
    background-image: var(--gradient-yellow-green);
  }

  &--care {
    background-color: var(--color-purple);
    background-image: var(--gradient-purple-red);
  }

  &--responsibility {
    background-color: var(--color-red);

    @include media-breakpoint-up(lg) {
      padding-right: rem(400);
      padding-bottom: rem(64);
    }
  }
}
