.card-case {
  $b: #{&};
  display: block;
  width: 100%;
  position: relative;
  border-radius: $radius-default;
  background-image: linear-gradient(180deg, #2A74BC 0%, #194889 100%);
  color: #fff;
  text-decoration: none !important;
  overflow: hidden;

  &__image {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 67.24%;
    transition: opacity $timing $easing;
    border-radius: inherit;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: inherit;
    }
  }

  &__content {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem($card-gutter-sm);
    transform: translateY(16px);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: $timing;
    transition-timing-function: $easing;
    user-select: none;

    @include media-breakpoint-up(lg) {
      padding: rem(32) rem($card-gutter);
    }
  }

  @include media-breakpoint-up(lg) {
    &:hover {
      #{$b}__image {
        opacity: 0.3;
      }

      #{$b}__content {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
