.card-team {
  &__image {
    position: relative;
    width: 100%;
    padding-top: 58.3%;
    border-radius: $radius-default;
    //background-color: var(--color-grey);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: inherit;
    }
  }

  &__heading {
    margin-top: rem(32);
  }

  &__desc {
    margin-top: rem(8);
    color: var(--color-graphite);
  }
}