.card-workflow {
  &__image {
    width: 100%;
    height: rem(150);
    padding: rem(24);
    border-radius: $radius-default;
    border: 1px solid var(--color-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__text {
    margin-top: rem(24);
  }
}
