.card-well-being {
  position: relative;
  z-index: 10;
  width: 100%;
  padding: rem($card-gutter-sm);
  border-radius: $radius-default;
  min-height: rem(340);
  overflow: hidden;
  background-color: var(--color-purple);
  color: #fff;

  &__heading {
    margin-bottom: rem(16);
  }

  &__desc {

  }

  &__image {
    top: calc(100% - #{rem(240)});
    right: rem(-120);
    animation: rotate 30s linear infinite;

    @include media-breakpoint-only(sm) {
      top: calc(100% - #{rem(150)});
      right: rem(-200);
    }
  }

  @include media-breakpoint-up(md) {
    padding: rem(56) rem($card-gutter) rem(64);
    min-height: rem(460);

    &__heading {
      margin-bottom: rem(24);
    }
  }

  &--education {
    background-color: var(--color-green);
  }

  &--sport {
    background-color: var(--color-blue);
  }

  &--corporate {
    background-image: var(--gradient-purple-blue);
  }

  &--weekend {
    background-image: var(--gradient-yellow-green);
  }

  &--cookie {
    background-color: var(--color-red);
  }

  &--support {
    background-image: var(--gradient-purple-red);
  }
}
