.card-story {
  position: relative;
  z-index: 10;
  width: 100%;
  border-radius: $radius-default;
  padding: rem(32) rem($card-gutter-sm);
  overflow: hidden;
  background-color: var(--color-purple);
  color: #fff;

  &[data-popup-story-trigger] {
    //cursor: pointer;
  }

  &__name {
    margin-bottom: rem(8);
  }

  &__label {
  }

  &__entity-1 {
    top: 15%;
    left: 50%;
    animation: rotate 60s linear infinite;
  }

  &__entity-2 {
    bottom: 100%;
    left: 100%;
    animation: story-entity-small 20s linear infinite;
  }

  @include media-breakpoint-up(lg) {
    padding: rem(96) 50% rem(96) rem($card-gutter);
  }

  &--1 {
    background-image: var(--gradient-purple-blue);
  }

  &--2 {
    background-image: var(--gradient-yellow-green);
  }

  &--3 {
    background-image: var(--gradient-purple-red);
  }
}
