.card-work {
  width: 100%;
  border-radius: $radius-default;
  padding: rem($card-gutter-sm);
  background-color: var(--color-purple);
  background-image: var(--gradient-purple-blue);
  color: #fff;

  &__head {
    display: flex;
    align-items: center;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: rem(16);
    padding-top: rem(2);
    height: rem(56);
    width: rem(56);
    font-size: rem(32);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: $radius-default;
    background-color: var(--body-background-color);
    color: var(--color-yellow);
  }

  &__heading {

  }

  &__desc {
    margin-top: rem(16);
  }

  @include media-breakpoint-up(md) {
    padding: rem(56) rem($card-gutter);

    &__icon {
      margin-right: rem(32);
      padding-top: rem(4);
      height: rem(80);
      width: rem(80);
      font-size: rem(40);
    }

    &__desc {
      margin-top: rem(24);
    }
  }
}
