<div class="popup-large popup-large--white popup-large--story scrollbar-styling" data-popup-story>
    {% include 'components::btn-close.twig' with {
        close: {
            theme: "black",
            class: "popup-large__close",
            attr: "data-popup-close"
        }
    } %}
    <div class="popup-large__container container">
        <div class="story-layout text-default user-text" data-story-container></div>
    </div>
</div>
