<div class="popup-large popup-large--color popup-large--vacancy" data-popup-vacancy>
    {% include 'components::btn-close.twig' with {
        close: {
            theme: "white",
            class: "popup-large__close",
            attr: "data-popup-close"
        }
    } %}
    <div class="popup-large__container container">
        <div class="popup-vacancy">
            {% include 'blocks::form-vacancy.twig' with {
                form: {
                    heading: "Хочу работать с&nbsp;вами",
                    selectAttr: "data-select-vacancy-popup",
                    btn: {
                        minWidth: true,
                        theme: "white",
                        type: "submit",
                        text: "Отправить"
                    }
                }
            } %}
        </div>
    </div>
</div>
