<div class="popup-large popup-large--white popup-large--worth scrollbar-styling" data-popup-worth>
    {% include 'components::btn-close.twig' with {
        close: {
            theme: "black",
            class: "popup-large__close",
            attr: "data-popup-close"
        }
    } %}
    <div class="popup-large__container container">
        <div class="popup-worth" data-worth-container></div>
    </div>
</div>
