@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//<editor-fold desc="entities">
@keyframes hero-duck {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  45% {
    transform: translate3d(-2vw, 100vh, 0) rotate(-45deg);
  }

  100% {
    transform: translate3d(-5vw, 200vh, 0) rotate(-90deg);
  }
}

@keyframes hero-fire {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  100% {
    transform: translate3d(-110vw, 110vh, 0) rotate(360deg);
  }
}

@keyframes hero-ring {
  0% {
    transform: translate3d(0, 0, 0);
  }

  30% {
    transform: translate3d(35vw, -8vh, 0);
  }

  60% {
    transform: translate3d(65vw, -12vh, 0);
  }

  100% {
    transform: translate3d(120vw, 5vh, 0);
  }
}

@keyframes worth-rotate {
  0% {
    transform: translate3d(0, 50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 50%, 0) rotate(360deg);
  }
}

@keyframes worth-float {
  0% {
    transform: translate3d(10%, -30%, 0);
  }
  50% {
    transform: translate3d(0, 40%, 0);
  }
  100% {
    transform: translate3d(10%, -30%, 0);
  }
}

@keyframes worth-small-stick {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(45rem, 10rem, 0) rotate(720deg);
  }
}

@keyframes worth-small-arrow {
  0% {
    transform: translate3d(0, 0, 0) rotate(20deg);
  }
  100% {
    transform: translate3d(45rem, -10rem, 0) rotate(45deg);
  }
}

@keyframes worth-small-dots {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(45rem, 5rem, 0) rotate(1080deg);
  }
}

@keyframes worth-small-ring {
  0% {
    transform: translate3d(0, -15rem, 0);
  }
  40% {
    transform: translate3d(-15rem, 0, 0);
  }
  100% {
    transform: translate3d(-45rem, -10rem, 0);
  }
}

@keyframes worth-small-arc {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-25rem, 45rem, 0) rotate(720deg);
  }
}
//</editor-fold>

@keyframes well-being-icon-rotate {
  0% {
    transform: translate(40%, 40%) rotate(0deg);
  }
  100% {
    transform: translate(40%, 40%) rotate(360deg);
  }
}

@keyframes story-entity-small {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  100% {
    transform: translate3d(-70vw, 40rem, 0) rotate(-360deg);
  }
}