@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

@mixin h1 {
  font-weight: bold;
  //font-size: rem(48); // по UI макетов
  font-size: rem(36); // т.к. текст слишком длинный
  line-height: 1.1;

  @include media-breakpoint-up(lg) {
    font-size: rem(68);
  }
}

@mixin h2 {
  font-weight: bold;
  font-size: rem(32);
  line-height: 1.3;

  @include media-breakpoint-up(lg) {
    font-size: rem(54);
  }
}

@mixin h3 {
  font-weight: bold;
  font-size: rem(24);
  line-height: 1.3;

  @include media-breakpoint-up(lg) {
    font-size: rem(28);
  }
}

@mixin h4 {
  font-weight: normal;
  font-size: rem(24);
  line-height: 1.3;

  @include media-breakpoint-up(lg) {
    font-size: rem(28);
  }
}

@mixin h5 {
  font-weight: bold;
  font-size: rem(18);
  line-height: 1.3;

  @include media-breakpoint-up(lg) {
    font-size: rem(20);
  }
}

@mixin text-default {
  font-size: rem(16);
  line-height: 1.875;

  @include media-breakpoint-up(lg) {
    font-size: rem(20);
  }
}

@mixin text-caption {
  font-size: rem(14);
  line-height: 1.31;

  @include media-breakpoint-up(lg) {
    font-size: rem(16);
  }
}

@mixin link-decorated {
  text-decoration: none !important;
  border-bottom: 1px solid currentColor;
  transition: border-color $timing $easing;

  &:hover {
    border-bottom-color: transparent;
  }
}

@mixin link-latent {
  text-decoration: none !important;
  border-bottom: 1px solid transparent;
  transition: border-color $timing $easing;

  &:hover {
    border-bottom-color: currentColor;
  }
}

@mixin scrollbarStyling($isHorizontal) {
  &::-webkit-scrollbar {
    border-radius: 6px;

    @if ($isHorizontal) {
      height: 4px;
    } @else {
      width: 4px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-purple);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #EFF3F5;
  }
}
