@import "breakpoints";
@import "rem";
@import "spacers";
@import "mixins";
@import "display";
@import "colors";
@import "text";
@import "typography";
@import "animations";

.cursor-pointer {
  cursor: pointer;
}

.scrollbar-styling {
  @include scrollbarStyling(false);
}
