<div class="story-head">
    <div class="story-head__name text-default">История Эдуарда</div>
    <h2 class="story-head__heading h2">От аккаунт-менеджера<br>до совладельца агентства за 3 года</h2>
    <h4 class="story-head__subheading h4">Главное в работе: «Достижения, удовольствие и деньги»</h4>
</div>

<section>
    <h3>Предыстория</h3>
    <p>
        Всю жизнь работал в продажах: в казино, кафе, фотостудии, мультимедийной сети, журнале.
        Продавал лично и по телефону. Затянуло в digital — стал продавать разработку сайтов, рекламу, SEO.
        Когда приедалось, менял компании и города.
    </p>
</section>

<section class="story-cols">
    <div class="story-cols__left">
        <h3>Как попал в Southmedia</h3>
        <p>
            Приехал в Краснодар из Питера. Разместил резюме, полу&shy;чил приглашение и поехал на собеседование в
            Southmedia. Почти 4 часа беседовал с Денисом (основатель и гендирек- тор), получил должность
            аккаунт-менеджера. Сначала принял предложение, через день отказался. Снова перего- воры с Денисом, и сделка
            между мной и Southmedia всё же состоялась. Сегодня считаю эту сделку самой успешной в своей карьере.
        </p>
    </div>
    <div class="story-cols__right">
        <img src="assets/tmp/stories/enagaynikov/meet-1.png"
             srcset="assets/tmp/stories/enagaynikov/meet-1@2x.jpg"
             alt="">
    </div>
</section>

<section>
    <h3>Первые шаги в агентстве</h3>
    <p>
        Сперва я был аккаунт-менеджером, потом аккаунт-сейлз-менеджером и ещё позже аккаунт-сейлз-проджект-менеджером.
        Проектов было немного, поэтому удавалось совмещать несколько функций. Да и сам опыт для меня интересный. Со
        временем агентство набирало силу, привлекали новых клиентов, набирали специалистов и распределяли функции более
        точечно.
    </p>
    <p class="h2 color-grey"
       data-animate-push-text>аккаунт-<span>сейлз-</span><span>проджект-</span>менеджер</p>
</section>

<section>
    <h3>Как стал совладельцем Southmedia</h3>
    <p>
        Я привык углубляться не только в свою работу, но и в жизнь компании. Мне не всё равно, что происходит с
        агентством, кого набираем в команду, куда мы все движемся. Я часто общался с Денисом, участвовал в делах за
        рамками своих задач. Становилось больше аккаунт-менеджеров, которых я курировал. Мы перестроили структуру
        отдела, и я его возглавил, став коммерческим директором. Тогда же мне предложили долю в агентстве.
    </p>
</section>

<section class="story-cols">
    <div class="story-cols__left">
        <h3>Что самое сложное в твоей работе</h3>
        <p>
            Взаимоотношения с людьми. Уметь договариваться — это всегда сложно. Много ситуаций, когда легко поддаться
            эмоциям. Я был очень импульсивен: быстро вспыхивал, гневался, повышал голос. Это плохая черта, я её уже
            почти поборол. Помогли правильные книги и наблюдение за людьми, которые даже во время катастрофы сохраняют
            самообладание.
        </p>
    </div>
    <div class="story-cols__right">
        <img src="assets/tmp/stories/enagaynikov/teapot.svg" alt="">
    </div>
</section>

<section>
    <h3>Что помогает в личном развитии</h3>
    <p>
        Правильное окружение, новые проекты — всё это обогащает мой опыт. Спорт хорошо освежает голову: играю в теннис и
        сквош, регулярно бегаю на длинные дистанции. Люблю путешествовать, узнавать новые страны, их культуру. Обожаю
        артхаусное кино. Читаю бизнес-литературу, могу выделить книгу Гэвина Кеннеди «Договориться можно обо всём» и
        книгу Стивена Кови «7 навыков высокоэффективных людей».
    </p>
</section>

<img src="assets/tmp/stories/enagaynikov/suite-1.svg" class="image-single" alt="">

<section>
    <h3>Что ты особенно ценишь в аккаунт-менеджерах</h3>
    <p>
        Мне нравится, когда человек хочет всего — успешных сделок, знаний, знакомств, денег, признания. Ему никогда не бывает достаточно. Он стремится к сверхрезультатам и готов прикладывать сверхусилия. Вот это я очень ценю.
    </p>
</section>

<section>
    <h3>Что посоветуешь новичкам в этой профессии</h3>
    <p>
        Быть смелыми и никогда не сдаваться&nbsp;&#128170;
    </p>
</section>