<div class="story-head">
    <div class="story-head__name text-default">История Кати</div>
    <h2 class="story-head__heading h2">От аккаунт-менеджера<br>до руководителя отдела<br>рекламы за год и 3 месяца</h2>
    <h4 class="story-head__subheading h4">Главное в работе: «Видимые результаты и хороший коллектив»</h4>
</div>

<section>
    <h3>Первая работа</h3>
    <p>
        Я училась в Украине на журналиста и параллельно на экономиста. Удалось попрактиковаться в СМИ и поработать в банке, но я разочаровалась. Потом был опыт работы официантом и администратором в отеле, оператором и руководителем в колл-центре. Всё это помогло мне понять, что общение и работа с людьми — это моё.
    </p>
</section>

<section class="story-cols">
    <div class="story-cols__left">
        <h3>Путь в digital</h3>
        <p>
            Переехала в Липецк. Стала целенаправленно искать работу с клиентами. Нашлась должность аккаунт-менеджера в маленьком digital-агентстве.
            Но знаний не хватало — пришлось учиться. Я активно проходила курсы, читала статьи, смотрела вебинары. Digital затягивал.
        </p>
    </div>
    <div class="story-cols__right">
        <img src="assets/tmp/stories/estadnik/digital.svg" alt="">
    </div>
</section>

<section>
    <h3>Как попала в Southmedia</h3>
    <p>
        Уже год я работала в Липецке. Хотелось в тёплый Краснодар и в хорошее агентство. Разместила резюме — пригласили на собеседование в Southmedia. Общение с HR-менеджером прошло безболезненно. А вот на собеседовании с коммерческим директором Эдуардом стало сложнее. Мы долго говорили об интернет-маркетинге, о взаимодействии с клиентами, считали ROI. Это было трудно, но интересно!
    </p>
</section>

<section>
    <h3>Адаптация</h3>
    <p>
        Мне сразу понравился коллектив — все дружелюбные. Можно было задать любой вопрос, даже глупый, и получить ответ. Первые 2 недели меня активно курировал Эдуард: он делился опытом, давал полезные книги и курсы. После этого я стала аккаунт-менеджером одного из самых больших клиентов — автохолдинга КЛЮЧАВТО.
    </p>
</section>

<section class="story-cols">
    <div class="story-cols__left">
        <h3>Сложности в работе</h3>
        <p>
            У клиента было около 60 дилерских центров, и в каждом
            ДЦ — свой маркетолог. Со всеми нужно сработаться,
            к каждому найти подход. Задачи, которые ставят сегодня, должны быть решены ещё вчера. При этом нет никаких единых регламентов работы. Этот хаос мотивировал меня как-то урегулировать процессы, и я стала создавать первые регламенты по работе с КЛЮЧАВТО.
        </p>
    </div>
    <div class="story-cols__right"></div>
</section>

<section>
    <h3>Как получила повышение</h3>
    <p>
        Я работала в Southmedia чуть больше года, когда руководитель отдела рекламы ушла в декрет. Мне предложили её замещать. Почему выбрали меня? Думаю, за мою ответственность и умение организовать работу так, чтобы добиться результата. И, конечно, мне помогает любовь к учёбе. Я много читаю о психологии, коммуникации, нейробиологии. Среди моих фаворитов: «Красная таблетка» Курпатова, «Договориться можно обо всём» Кеннеди, «Новые правила деловой переписки» Ильяхова.
    </p>
</section>

<img src="assets/tmp/stories/estadnik/suite-1.svg" class="image-single" alt="">

<section class="story-cols">
    <div>
        <h3>Что ты изменила в отделе интернет-маркетинга?</h3>
        <p>
            Моё детище — таблица медиапланов. Я долго разрабатывала фильтры и формулы. Получилось удобно, все пользуются. Ещё я переработала критерии достижения грейдов: они стали более применимы именно для Southmedia. Разработала систему KPI. Переделала типовые задачи: добавила новые, адаптировала старые. Вместе с отделом разработки автоматизировали и упростили управление бюджетом рекламных кампаний: данные тянутся в единый файл автоматически, и формулы просчитывают необходимый дневной бюджет.
        </p>
    </div>
    <div class="story-cols__right story-absolute">
        <img src="assets/tmp/stories/estadnik/clew.svg" alt="">
    </div>
</section>

<section>
    <h3>Что ты особенно ценишь в специалистах интернет-маркетинга?</h3>
    <p>
        Желание развиваться, аналитический склад ума, ориентацию на результат.
    </p>
</section>

