<div class="story-head">
    <div class="story-head__name text-default">История Юли</div>
    <h2 class="story-head__heading h2">От ассистента<br>до Senior-специалиста за 1 год!
    </h2>
</div>

<section class="story-cols">
    <div class="story-cols__left">
        <h3>Старт</h3>
        <p>
            Я работала маркетологом в сети ресторанов. Но понимала, что сила в digital, и пошла на курс «Нетологии».
            Потом долго искала место, где берут новичков. Благодаря курсу успешно выполнила тестовое для Southmedia и
            стала ассистентом по таргетированной рекламе.
        </p>
    </div>
    <div class="story-cols__right">
        <img src="assets/tmp/stories/udobrynina/netology-sm.svg" alt="">
    </div>
</section>

<section>
    <h3>Рост</h3>
    <div class="image-scroll-outer">
        {% include '../../assets/tmp/stories/udobrynina/chart.svg' %}
    </div>
</section>

<section>
    <h3>Что помогло</h3>
    <p>
        Наставник давала советы, актуальные статьи и кейсы. Я читала ppc.world, elama.ru, vc.ru.
        Плюс семинары от Яндекс.Директ, MyTarget. Идеи и новые инструменты обсуждаем
        в рабочем чатике. А раз в месяц собираемся, и кто-то рассказывает свой кейс.
    </p>
    <div class="brand-list mt-40 mt-md-64 mt-lg-80">
        <div class="brand-list__item">
            <img src="assets/tmp/stories/logo/yandex-direct.svg" alt="">
        </div>
        <div class="brand-list__item">
            <img src="assets/tmp/stories/logo/elama.svg" alt="">
        </div>
        <div class="brand-list__item">
            <img src="assets/tmp/stories/logo/mytarget.svg" alt="">
        </div>
        <hr class="brand-list__hr">
        <div class="brand-list__item">
            <img src="assets/tmp/stories/logo/ppc-world.png"
                 srcset="assets/tmp/stories/logo/ppc-world@2x.png 2x"
                 width="243" height="60"
                 alt="">
        </div>
        <div class="brand-list__item">
            <img src="assets/tmp/stories/logo/vcru.png"
                 srcset="assets/tmp/stories/logo/vcru@2x.png"
                 width="128" height="122"
                 alt="">
        </div>
    </div>
</section>

<section class="story-cols">
    <div class="story-cols__left">
        <h3>Что нравится в работе</h3>
        <p>
            Я люблю цифры. Я на 100% аналитик. Делаю работу и вижу конкретный результат, его динамику — это здорово. Мне
            нравится, что Southmedia поощряет развитие: руководитель видит, что задачи идут легко,и даёт что-то
            посложнее. Нет застоя, мозг всегда загружен.
        </p>
        <p>
            Юля скромная. Да, в Southmedia можно развиваться: наставник, оплата курсов, система грейдов. Но важно и
            желание расти. Хочешь уметь больше — выжимай максимум из всего, что дают, и прилагай усилия. Юля сама
            ковырялась в инструментах, задавала вопросы, бралась за новое. При таком рвении рост неизбежен, а в
            Southmedia его всегда поддержат.
        </p>
    </div>
    <div class="story-cols__right">
        <img src="assets/tmp/stories/udobrynina/rubik.svg" alt="">
    </div>
</section>