{% extends 'layouts::page.twig' %}

{% block content %}
    <div class="container">
        <h1 class="h1">Heading 1</h1>
        <h2 class="h2">Heading 2</h2>
        <h3 class="h3">Heading 3</h3>
        <h4 class="h4">Heading 4</h4>
        <h5 class="h5">Heading 5</h5>
        <div class="text-default">text-default</div>
        <div class="text-caption">text-caption</div>
        <p class="text-default">text <a href="#" class="link-decorated">link-decorated</a> text</p>
        <p class="text-default">text <a href="#" class="link-latent">link-latent</a> text</p>

        {% include 'components::btn.twig' with {
            btn: {
                minWidth: true,
                theme: "purple",
                text: "Посмотреть все"
            }
        } %}

        <div class="my-16 px-16 py-16 bg-purple color-white">
            {% include 'components::btn.twig' with {
                btn: {
                    minWidth: true,
                    theme: "white",
                    text: "Посмотреть все"
                }
            } %}

            <div class="my-16 bg-purple">
                {% include 'components::inputs/input.twig' with {
                    field: {
                        type: "text",
                        label: "ФИО",
                        placeholder: "Введите текст"
                    }
                } %}
            </div>

            <div class="my-16 bg-purple">
                {% include 'components::inputs/textarea.twig' with {
                    field: {
                        label: "Название",
                        placeholder: "Введите текст"
                    }
                } %}
            </div>

            <div class="my-16">
                {% include 'components::inputs/checkbox.twig' with {
                    field: {
                        checked: true,
                        name: "ORDER[PERSONAL]",
                        text: "Я согласен на <a href='https://southmedia.ru/local/templates/sm/files/docs/fz.pdf' target='_blank'>обработку персональных данных</a>"
                    }
                } %}
            </div>

        </div>


    </div>
{% endblock %}
