{% extends 'layouts::page.twig' %}

{% block content %}

    {% include 'blocks::hero.twig' %}

    {% include 'blocks::sections/section-about.twig' %}

    {% include 'blocks::sections/section-worth.twig' %}

    {% include 'blocks::sections/section-team.twig' %}

    {% include 'blocks::sections/section-cases.twig' %}

    {% include 'blocks::sections/section-workflow.twig' %}

    {% include 'blocks::sections/section-grades.twig' %}

    {% include 'blocks::sections/section-well-being.twig' %}

    {% include 'blocks::sections/section-work.twig' %}

    {% include 'blocks::sections/section-story.twig' %}

    {% include 'blocks::sections/section-vacancies.twig' %}


{% endblock %}
