<button type="button"
        class="btn btn-close btn-close--{{ close.theme ?: "white" }}{% if close.class %} {{ close.class }}{% endif %}"
        {{ close.attr }}>
    {% include 'images::close.svg' %}
</button>