<button class="nav-arrow nav-arrow--prev nav-arrow--{{ arrows.theme ?: 'default' }}" type="button" data-nav-arrow-prev>
    {% include 'images::arrows/chevron-2-left.svg' %}
</button>
<button class="nav-arrow nav-arrow--next nav-arrow--{{ arrows.theme ?: 'default' }}" type="button" data-nav-arrow-next>
    {% include 'images::arrows/chevron-2-right.svg' %}
</button>