.slider-single-wrap {
  position: relative;

  .nav-arrow {
    position: absolute;
    z-index: 10;
    top: 40%;

    &--prev {
      right: calc(100% + 2rem);
    }

    &--next {
      left: calc(100% + 2rem);
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
