<div class="file-upload-shell">
    <fieldset class="file-upload" data-field="true" data-file-upload>
        <input type="file" class="file-upload__input{% if field.required %} required{% endif %}"
               {% if field.name %}name="{{ field.name }}"{% endif %}
               {% if field.id %}id="{{ field.id }}"{% endif %} {% if field.accept %} accept="{{ field.accept }}" {% endif %}>
        <label class="file-upload__label">{{ field.label|raw }}</label>
    </fieldset>
</div>
