<label class="input-shell" data-field="true">
    {% if field.label %}
        <span class="field-label">{{ field.label|raw }}</span>
    {% endif %}
    <input type="{{ field.type ?: "text" }}"
           class="input input--{{ field.theme ?: 'white' }}{% if field.required %} required{% endif %}"
           {% if field.name %}name="{{ field.name }}"{% endif %}
        {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
        {% if field.required %}required{% endif %}
        {% if field.autocomplete %} autocomplete="{{ field.autocomplete }}"{% endif %}
        {% if field.attr %} {{ field.attr }}{% endif %}
        {% if field.id %} id="{{ field.id }}" {% endif %}
        {% if field.message %} data-field-error-message="{{ field.message }}" {% endif %}
    >
    <span class="field-error" data-field-error="true"></span>
</label>
