<label class="input-shell">
    <textarea class="input input--{{ field.theme ?: 'white' }}{% if field.required %} required{% endif %}"
              {% if field.name %}name="{{ field.name }}"{% endif %}
        {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
        {% if field.required %}required{% endif %}
        {% if field.autocomplete %} autocomplete="{{ field.autocomplete }}"{% endif %}
        {% if field.attr %} {{ field.attr }}{% endif %}
        {% if field.id %} id="{{ field.id }}" {% endif %}
    ></textarea>
</label>