.popup-message {
  text-align: center;

  &__icon {
    margin-bottom: rem(40);

    img,
    svg {
      width: rem(100);
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__heading {
  }

  &__desc {
    //margin-top: rem(12);
    //color: var(--color-graphite);
  }

  @include media-breakpoint-only(sm) {
    padding: rem(32) rem(16) rem(32);
  }

  @include media-breakpoint-only(md) {
    padding: rem(64);
  }

  @include media-breakpoint-up(lg) {
    padding: rem(64) rem(80);

    img,
    svg {
      width: rem(160);
    }
  }
}