.popup-large {
  $b: #{&};

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0;
  background-color: var(--body-background-color);
  color: var(--color-black);
  overflow-x: hidden;
  overflow-y: auto;

  &__container {
    padding-top: rem(40);
    padding-bottom: rem(48);
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-top: rem(80);
      padding-bottom: rem(96);
    }
  }

  &__close {
    position: fixed;
    z-index: 10;
    top: rem(32);
    right: rem(16);

    @include media-breakpoint-up(lg) {
      right: rem(32);
    }

    @media (min-width: 1700px) {
      right: auto;
      left: calc(50vw + #{rem($container-max-width / 2)});
    }
  }

  &--white {
    background-color: var(--body-background-color);
    color: var(--color-black);
  }

  &--color {
    background-color: var(--color-purple);
    background-image: var(--gradient-purple-blue);
    color: #fff;
  }

  &.opened {
    display: block;
    animation: fadeIn $timing $easing forwards;
  }
}