.popup-simple {
  $b: #{&};

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  animation: fadeIn $timing $easing forwards;

  &__backdrop {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    opacity: 0.125;
    transition: opacity $timing $easing;
  }

  &__flow {
    height: 100%;
    overflow-y: auto;
  }

  &__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: $radius-default;
    background-color: var(--body-background-color);
    color: var(--color-black);
    box-shadow: 0 0 20px 4px rgba(#000, 0.03);
  }

  &__close {
    position: absolute;
    top: rem(32);
    right: rem(16);
    color: var(--color-black);
  }

  &.opened {
    display: block;
  }

  @include media-breakpoint-down(sm) {
    &__flow {
      background-color: var(--body-background-color);
    }

    &__backdrop {
      z-index: -1;
    }
  }

  @include media-breakpoint-up(md) {
    &__flow {
      padding: rem(64);
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-height: 600px) {
        display: block; // для адекватной работы скролла
      }
    }

    &__close {
      top: auto;
      right: auto;
      left: calc(100% + #{rem(16)});
      bottom: calc(100% + #{rem(16)});
    }
  }

  &--thanks,
  &--error {
    @include media-breakpoint-down(sm) {
      #{$b}__flow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
      }

      #{$b}__container {
        border-radius: $radius-default;
        width: 100%;
        max-width: calc(100% - #{rem($container-gutter-sm*2)});
      }

      #{$b}__close {
        top: rem(24);
        right: rem(24);
      }
    }

    @include media-breakpoint-only(md) {
      #{$b}__container {
        width: rem(400);
      }
    }

    @include media-breakpoint-up(lg) {
      #{$b}__container {
        width: rem(640);
      }
    }
  }

  &--error {
    .popup-message__icon {
      transform: scale(-1);
    }
  }
}
