.checkbox {
  $b: #{&};
  // Без цельных значений (в px) маркер в __box располагается не по центру
  $box-size-lg: 24px;
  $box-size-1024: 18px;
  $box-size-sm: 20px;
  $mark-size-lg: 14px;
  $mark-size-1024: 10px;
  $mark-size-sm: 12px;

  position: relative;
  display: inline-flex;
  align-items: center;
  min-width: $box-size-lg;
  min-height: $box-size-lg;
  padding-left: rem(40);
  line-height: 1;
  cursor: pointer;

  &__input {
    @include visually-hidden;

    &[type="checkbox"] {
      ~ #{$b}__box {
        border-radius: rem(6);

        &:after {
          border-radius: rem(3);
        }
      }
    }

    &[type="radio"] {
      ~ #{$b}__box {
        border-radius: 50%;

        &:after {
          border-radius: 50%;
        }
      }
    }

    &:checked {
      ~ #{$b}__box {
        &:after {
          transform: scale(1);
        }
      }
    }
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $box-size-lg;
    height: $box-size-lg;

    &:after {
      content: '';
      display: block;
      width: $mark-size-lg;
      height: $mark-size-lg;
      transform: scale(0);
      transition-property: transform;
      transition-duration: $timing;
      transition-timing-function: $easing;
    }
  }

  &__text {
    @include text-caption;

    a {
      @include link-decorated;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) and (max-width: 1280px) {
    min-width: $box-size-1024;
    min-height: $box-size-1024;

    &__box {
      width: $box-size-1024;
      height: $box-size-1024;

      &:after {
        width: $mark-size-1024;
        height: $mark-size-1024;
      }
    }
  }

  @include media-breakpoint-only(sm) {
    padding-left: rem(32);
    min-width: $box-size-sm;
    min-height: $box-size-sm;

    &__box {
      width: $box-size-sm;
      height: $box-size-sm;

      &:after {
        width: $mark-size-sm;
        height: $mark-size-sm;
      }
    }
  }

  &--white {
    #{$b}__box {
      background-color: #fff;

      &:after {
        background-color: var(--color-purple);
      }
    }
  }
}
