.file-upload {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: dashed 2px var(--color-white);
  transition: opacity $timing $easing;
  border-radius: 10px;
  padding: rem(16);
  overflow: hidden;
  height: rem($input-height);

  @include media-breakpoint-up(lg) {
    height: rem($input-height-lg);
  }

  &.sm-validate__error {
    border-color: var(--color-warning);
  }

  &:hover {
    opacity: .6;
  }

  &__input {
    top: 0;
    left: 0;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  &__label {
    max-width: rem(220);
    text-align: center;
    font-size: rem(16);
    line-height: 1.125;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }
}