.input {
  display: block;
  width: 100%;
  border-radius: $input-radius;
  border: 3px solid;
  padding: rem(10) rem(16);
  @include text-default;
  transition-property: border-color, opacity;
  transition-duration: $timing;
  transition-timing-function: $easing;

  @include media-breakpoint-up(lg) {
    padding: rem(14) rem(32);
  }

  &:focus {
    outline: none;
  }

  &--white {
    border-color: transparent;
    background-color: var(--color-white);
    color: var(--color-black);

    &:focus {
      border-color: #DED7EC;
    }
  }

  .sm-validate__error & {
    border-color: var(--color-warning);
  }

  &.disabled,
  &:disabled {
    opacity: 0.2;
  }
}

input.input {
  height: rem($input-height);

  @include media-breakpoint-up(lg) {
    height: rem($input-height-lg);
  }
}

textarea.input {
  resize: vertical;
  min-height: rem($input-height);

  @include media-breakpoint-up(lg) {
    min-height: rem($input-height-lg);
  }
}

// иначе не работает (:
.input:-ms-input-placeholder {
  color: var(--color-graphite) !important;
}

.input::-ms-input-placeholder {
  color: var(--color-graphite) !important;
}

.input::-webkit-input-placeholder {
  color: var(--color-graphite) !important;
}

.input::placeholder {
  color: var(--color-graphite) !important;
}

.input-shell {
  width: 100%;
  position: relative;
}

.field-label {
  display: block;
  @include text-default;

  @include media-breakpoint-up(lg) {
    margin-bottom: rem(8);
  }
}

.field-error {
  position: absolute;
  font-size: rem(16);
  line-height: 130%;
  opacity: 0;
  bottom: rem(-24);
  .sm-validate__error & {
    opacity: 0.7;
  }
}