.select {
  position: relative;
  @include text-default;

  &__input {
    cursor: pointer;

    display: flex;
    align-items: center;
    border-radius: $input-radius;
    border: 3px solid transparent;
    background-color: var(--color-white);
    padding: rem(10) rem(16);
    transition-property: border-color, opacity;
    transition-duration: $timing;
    transition-timing-function: $easing;
    color: var(--color-black);
    width: 100%;
    height: rem($input-height);

    @include media-breakpoint-up(lg) {
      padding: rem(14) rem(32);
      height: rem($input-height-lg);
    }

    &:focus {
      border-color: #DED7EC;
    }

    .sm-validate__error & {
      border-color: var(--color-warning);
    }

    &.disabled,
    &:disabled {
      opacity: 0.2;
    }
  }

  &__value {
    &--placeholder {
      color: var(--color-graphite);
    }
  }

  &.open {
    .select__dropdown {
      max-height: 500px;
      padding-top: rem(12.5);
      padding-bottom: rem(12.5);
      border-radius: rem(18);
    }
    .select__arrow {
      transform: scale(1, -1);
      background-color: var(--color-purple-light);
    }
  }
  &__dropdown {
    z-index: 2;
    margin-top: 5px;
    position: absolute;
    padding: 0 rem(32);
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s, border-radius 0.4s;
    background-color: var(--body-background-color);
    border-radius: rem(0);
    max-height: 0px;
    width: 100%;
  }
  &__list {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
  }
  &__item {
    cursor: pointer;
    padding: rem(12.5) 0;
    color: var(--color-true-black);
    transition: color 0.3s, opacity 0.3s;
    &.selected,
    &:hover {
      color: var(--color-purple);
    }
    &:hover {
      opacity: 0.8;
    }
  }

  &__arrow {
    top: 0;
    bottom: 0;
    right: rem(18);

    margin: auto;

    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple);
    transition: background-color 0.3s;
    border-radius: 50%;
    width: rem(50);
    height: rem(50);
    @include media-breakpoint-down(md) {
      right: rem(8);
      width: rem(32);
      height: rem(32);
    }
    svg {
      fill: var(--color-white);
      width: rem(10);
      height: rem(10);
    }
  }

  &__error {
    left: 0;
    opacity: 0;
    bottom: rem(-24);
    position: absolute;
    font-size: rem(16);
    line-height: 130%;
    color: var(--color-white);
    .sm-validate__error & {
      opacity: 0.7;
    }
  }
}