<section class="section section-grades">
    <div class="container">
        <div class="section-grades__wrapper" data-grades-wrapper>
            <div class="section-grades__row">
                <div class="section-grades__left">
                    <div class="section-intro__number">06</div>
                    <h2 class="section-intro__heading h2">Обучение</h2>
                    <div class="section-intro__desc text-default">
                        Для «зелёных» мы разработали программу поэтапного&nbsp;<br>
                        обучения. Опытных специалистов оцениваем по системе&nbsp;<br>грейдов, где указаны чёткие навыки
                        для роста.
                    </div>
                </div>
                <div class="section-grades__right">
                    <span data-grades-title>JUNIOR</span>
                    <svg data-grades-svg width="474" height="441" viewBox="0 0 474 441" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <!-- clip-path="url(#grades-mask)" -->
                        <g >
                            <path
                                d="M400.671 83.9701C440.128 112.473 471.578 160.555 473.866 210.94C476.153 261.325 448.991 313.725 409.534 356.912C369.792 400.387 317.755 434.361 259.714 440.119C201.959 445.877 138.485 423.132 95.0261 379.945C51.5667 336.47 28.1215 272.553 40.13 221.017C52.4244 169.48 100.458 130.036 143.918 101.533C187.377 73.0294 226.548 55.4666 269.721 51.1479C313.181 46.5413 360.929 55.4666 400.671 83.9701Z"
                                fill="url(#grades_linear)" />
                        </g>
                        <path data-grades-circle
                            d="M37 350C16.5997 350 0 333.4 0 313C0 292.6 16.5438 276 37 276C57.4562 276 74 292.6 74 313C74 333.4 57.4003 350 37 350ZM37 299.083C29.287 299.083 23.0831 305.343 23.0831 313C23.0831 320.657 29.3429 326.917 37 326.917C44.6571 326.917 50.9169 320.657 50.9169 313C50.9169 305.343 44.6571 299.083 37 299.083Z"
                            fill="#11BC87" />
                        <path data-grades-triangle
                            d="M447.014 5.59546C441.18 1.37084 432.961 2.6835 428.693 8.49956C423.172 16.0471 414.942 42.9326 414.418 44.6126C413.698 46.718 413.67 48.0966 415.141 49.1492C416.611 50.2019 417.857 49.7376 419.705 48.4146C421.154 47.3647 444.384 31.2898 449.919 23.7909C454.125 17.9403 452.896 9.80597 447.014 5.59546Z"
                            fill="#FFC607" />
                        <defs>
                            <linearGradient id="grades_linear" x1="272.08" y1="-51.3687" x2="201.838" y2="486.016"
                                gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#6E28F7" />
                                <stop offset="1" stop-color="#6582FF" />
                            </linearGradient>
                            <!-- <clipPath class="svg-transition" id="grades-mask"
                                style="transform: rotate(-5.57817deg) scale(0.948687);">
                                <path>
                                    <animate repeatCount="indefinite" attributeName="d" dur="30s"
                                        values="M442.671 109.97C482.128 138.474 513.579 186.555 515.866 236.94C518.153 287.325 490.991 339.725 451.535 382.912C411.792 426.387 359.755 460.361 301.714 466.119C243.959 471.878 180.486 449.132 137.026 405.945C93.567 362.47 70.1218 298.554 82.1303 247.017C94.4247 195.481 142.459 156.036 185.918 127.533C229.377 99.0296 268.548 81.4669 311.721 77.1482C355.181 72.5416 402.929 81.4669 442.671 109.97Z;
                                        M72.1463 212.977C82.1113 165.28 113.221 116.948 158.315 94.3691C203.408 71.7902 288.673 75.8196 344.195 94.3692C400.096 113.063 425.992 146.395 454.894 197.17C483.68 247.683 488.757 315.019 467.01 372.35C444.999 429.798 396.163 434.258 344.195 444.222C292.11 453.925 219.348 472.405 175.608 444.222C131.869 416.039 100.578 377.589 79.0473 339.835C57.1369 301.936 62.2976 260.937 72.1463 212.977Z;
                                        M411.536 110.449C450.543 138.515 481.637 185.859 483.898 235.47C486.159 285.082 450.543 329.549 411.536 372.073C372.245 414.881 329.563 455.463 272.182 461.133C215.083 466.802 152.331 444.406 109.366 401.882C66.4012 359.074 43.2226 296.138 55.0946 245.393C67.2492 194.647 105.562 138.515 148.528 110.449C191.493 82.3827 239.392 82.3827 282.075 78.1303C325.04 73.5944 372.245 82.3827 411.536 110.449Z;
                                        M72.1463 212.977C82.1113 165.28 113.221 116.948 158.315 94.3691C203.408 71.7902 288.673 75.8196 344.195 94.3692C400.096 113.063 425.992 146.395 454.894 197.17C483.68 247.683 488.757 315.019 467.01 372.35C444.999 429.798 396.163 434.258 344.195 444.222C292.11 453.925 219.348 472.405 175.608 444.222C131.869 416.039 100.578 377.589 79.0473 339.835C57.1369 301.936 62.2976 260.937 72.1463 212.977Z;
                                        M442.671 109.97C482.128 138.474 513.579 186.555 515.866 236.94C518.153 287.325 490.991 339.725 451.535 382.912C411.792 426.387 359.755 460.361 301.714 466.119C243.959 471.878 180.486 449.132 137.026 405.945C93.567 362.47 70.1218 298.554 82.1303 247.017C94.4247 195.481 142.459 156.036 185.918 127.533C229.377 99.0296 268.548 81.4669 311.721 77.1482C355.181 72.5416 402.929 81.4669 442.671 109.97Z;">
                                    </animate>
                                </path>
                            </clipPath> -->
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
