{% set wellBeingList = [
    {
        modifier: "education",
        heading: "Обучение",
        desc: "Профильные курсы и тренинги компания оплачивает до 100%.<br>И частично оплачивает непрофильное обучение. Развивайся вволю!",
        icon: "assets/images/entities/blob-green.svg",
    },{
        modifier: "sport",
        heading: "Спорт",
        desc: "Компенсируем твои траты на занятия спортом, танцами, йогой — любой физической активностью. Нам нужны здоровые и бодрые!",
        icon: "assets/images/entities/drop-blue.svg",
    },{
        modifier: "corporate",
        heading: "Корпоративы",
        desc: "Тематические вечеринки, пикники, квесты, вкусная еда и напитки — бывает всякое. Мы за дружбу и лёгкость. ",
        icon: "assets/images/entities/tree-purple.svg",
    },{
        modifier: "weekend",
        heading: "Выходные",
        desc: "Если нужны дополнительные оплачиваемые выходные — без проблем! Чем дольше работаешь в компании, тем больше таких дней.",
        icon: "assets/images/entities/star-light.svg",
    },{
        modifier: "cookie",
        heading: "Печеньки",
        desc: "Как же без них? А ещё кофе, чай, молоко, какао и иногда шоколадки. Запасы регулярно пополняем!",
        icon: "assets/images/entities/blob-light.svg",
    },{
        modifier: "support",
        heading: "Радости и&nbsp;печали",
        desc: "День рождения, свадьба, прибавление в семье или, наоборот, грустное событие — всё это повод получить финансовую поддержку.",
        icon: "assets/images/entities/slice-light.svg",
    }
] %}

<section id="section-well-being" class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">07</div>
            <div class="section-intro__heading h2">Well-being</div>
            <div class="section-intro__desc text-default">
                Твой апгрейд, здоровье, настроение — всё&nbsp;это&nbsp;важно
                для&nbsp;Southmedia. Мы&nbsp;заботимся и&nbsp;поддерживаем.
            </div>
        </div>

        <div class="mt-40 mt-md-64 mt-lg-80" data-slider-mobile-wrap>
            <div class="swiper-container container-rebuild-sm" data-slider-mobile>
                <div class="cards-list swiper-wrapper">
                    {% for card in wellBeingList %}
                        <div class="swiper-slide cards-list__item">
                            {% include 'components::cards/card-well-being.twig' %}
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination-bullets pagination-bullets--default mt-24 d-md-none"
                     data-slider-pagination></div>
            </div>
        </div>

    </div>
</section>
