{% set slidesStory = [
    {
        storyID: "enagaynikov",
        cssModifier: "1",
        name: "Эдуард",
        label: "От аккаунт-менеджера до совладельца агентства за 3 года",
        entity1: "assets/images/entities/blob-green.svg",
        entity2: "assets/images/entities/cone-red.svg",
    },{
        storyID: "udobrynina",
        cssModifier: "2",
        name: "Юлия",
        label: "От ассистента до старшего специалиста за 1 год",
        entity1: "assets/images/entities/star-green-light.svg",
        entity2: "assets/images/entities/ring-yellow.svg",
    },{
        storyID: "estadnik",
        cssModifier: "3",
        name: "Катя",
        label: "От аккаунт-менеджера до руководителя отдела рекламы за год и 3 месяца",
        entity1: "assets/images/entities/star-green-light.svg",
        entity2: "assets/images/entities/ring-yellow.svg",
    },{
        storyID: "",
        cssModifier: "4",
        name: "Ëжик",
        label: "От ассистента до старшего ёжика за 2 года",
        entity1: "",
        entity2: "",
    }
] %}

<section id="section-story" class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">09</div>
            <h2 class="section-intro__heading h2">Истории успеха</h2>
            <div class="section-intro__desc text-default">
                Они смогли. А ты сможешь?
            </div>
        </div>

        <div class="slider-single-wrap mt-64 mt-lg-80" data-slider-single-wrap >
            <div class="slider-single swiper-container" data-slider-single>
                <div class="swiper-wrapper">
                    {% for card in slidesStory %}
                        <div class="swiper-slide">
                            {% include 'components::cards/card-story.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'components::nav-arrows.twig' %}
            <div class="pagination-bullets pagination-bullets--default mt-24 d-lg-none"
                 data-slider-pagination></div>
        </div>

    </div>
</section>
