{% set cardsWorth = [
    {
        modifier: "safety",
        heading: "Надёжность",
        desc: "«Southmedia не подведёт», — считают наши давние клиенты. И они правы. Если мы гарантируем определённый результат, то достигаем именно его. Или ещё лучше. Нашу компетенцию подтверждают кейсы и сертификаты. Мы никогда не обещаем больше, чем можем выполнить. Но обещанное выполняем всегда.",
        entity1: {
            class: "worth-tree",
            src: "assets/images/entities/tree-green.svg",
            alt: "tree"
        },
        entity2: {
            class: "worth-small-stick",
            src: "assets/images/entities/stick-white.svg",
            alt: "stick"
        }
    },{
        modifier: "openness",
        heading: "Открытость",
        desc: "Поддерживаем честные отношения с клиентами и друг с другом. Никаких скрытых фактов, слитых бюджетов и фальшивых документов. Мы раскрываем все детали медиапланирования. Сообщаем клиенту, как и на что расходуются его деньги, как обстоят дела с его проектом. Не юлим, не хитрим и не играем в прятки. И в офисе мы приветствуем открытые диалоги и честную обратную связь.",
        entity1: {
            class: "worth-fire",
            src: "assets/images/entities/fire-yellow.svg",
            alt: "fire"
        },
        entity2: {
            class: "worth-small-arrow",
            src: "assets/images/entities/arrow-white.svg",
            alt: "arrow"
        }
    },{
        modifier: "relevance",
        heading: "Актуальность",
        desc: "Застой — тьма. Поэтому мы ценим новые идеи, энтузиазм и любовь к переменам. Каждый день подглядываем, что новенького на рынке: какие инструменты, методы, тренды. Всё перспективное забираем на пробу, проверенное оставляем, а неэффективное выкидываем. Меняется рынок, меняемся мы. Помним об этом каждый раз, когда появляются свободные минутки.",
        entity1: {
            class: "worth-blob",
            src: "assets/images/entities/blob-yellow.svg",
            alt: "blob"
        },
        entity2: {
            class: "worth-small-dots",
            src: "assets/images/entities/dots-white.svg",
            alt: "dots"
        }
    },{
        modifier: "care",
        heading: "Забота",
        desc: "Нам важно работать в обстановке, где люди слышат, понимают и поддер&shy;живают друг друга. У нас нет понятия «это не моя проблема». Если кто-то из нас ошибся, мы не язвим, а помогаем. У нас нет системы «я начальник, ты дурак», мы работаем без жёстких вертикалей власти. Мы поддерживаем развитие. Хотите пройти курсы, посетить конференцию, купить книгу — отлично! Приносите платёжки.",
        entity1: {
            class: "worth-star",
            src: "assets/images/entities/star-light.svg",
            alt: "star"
        },
        entity2: {
            class: "worth-small-ring",
            src: "assets/images/entities/ring-white.svg",
            alt: "ring"
        }
    },{
        wide: true,
        modifier: "responsibility",
        heading: "Ответственность",
        desc: "Мы не превращаемся в послушный инструмент для исполнения капризов клиента. У нас есть опыт и своё мнение. Мы можем возразить, поспорить, отказать. Делать за деньги что-то несуразное — не наша история. Мы несём ответственность перед клиентом, бережём свою репутацию и соблюдаем закон о рекламе. Каждый из нас понимает, что и для чего делает. И понимает, что работа одного человека влияет на работу всей команды.",
        entity1: {
            class: "worth-ring",
            src: "assets/images/entities/ring-yellow.svg",
            alt: "ring"
        },
        entity2: {
            class: "worth-small-arc",
            src: "assets/images/entities/arc-white.svg",
            alt: "arc"
        }
    }
] %}

<section id="section-worth" class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">02</div>
            <h2 class="section-intro__heading h2">Ценности Southmedia</h2>
            <div class="section-intro__desc text-default">
                У нас здоровая атмосфера, и&nbsp;она возможна благодаря общим ценностям.
                Их&nbsp;разделяют и&nbsp;долгожители, и&nbsp;новички Southmedia. Возьми на&nbsp;заметку.
            </div>
        </div>

        <div class="mt-40 mt-md-64 mt-lg-80" data-slider-mobile-wrap>
            <div class="swiper-container container-rebuild-sm" data-slider-mobile>
                <div class="cards-list swiper-wrapper">
                    {% for card in cardsWorth %}
                        <div class="swiper-slide cards-list__item{% if card.wide %} cards-list__item--wide{% endif %}">
                            {% include 'components::cards/card-worth.twig' %}
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination-bullets pagination-bullets--default mt-24 d-md-none"
                     data-slider-pagination></div>
            </div>
        </div>

    </div>
</section>
