{% set casesList = [
    {
        href: "https://southmedia.ru/cases/ask/",
        src: "https://southmedia.ru/local/templates/sm/files/images/cases/preview/ask--preview.jpg",
        srcset: "https://southmedia.ru/local/templates/sm/files/images/cases/preview/ask--preview@2x.jpg 2x",
        text: "Добились минимальной стоимости входящего обращения за весь период совместного сотрудничества."
    },{
        href: "https://southmedia.ru/cases/avrora/",
        src: "https://southmedia.ru/local/templates/sm/files/images/cases/preview/avrora--preview.jpg",
        srcset: "https://southmedia.ru/local/templates/sm/files/images/cases/preview/avrora--preview@2x.jpg 2x",
        text: "Сделали брендинг, разработали посадочные страницы, ведём онлайн-продвижение и создаём наружную рекламу."
    },{
        href: "https://southmedia.ru/cases/catalog/",
        src: "https://southmedia.ru/local/templates/sm/files/images/cases/preview/catalog--preview.jpg",
        srcset: "https://southmedia.ru/local/templates/sm/files/images/cases/preview/catalog--preview@2x.jpg 2x",
        text: "Разработали сайт-каталог для всех ЖК застройщика: подробный фильтр квартир, ипотечный калькулятор и много других полезных функций."
    },{
        href: "https://southmedia.ru/cases/keyauto-main/",
        src: "https://southmedia.ru/local/templates/sm/files/images/cases/preview/keyauto--preview.jpg",
        srcset: "https://southmedia.ru/local/templates/sm/files/images/cases/preview/keyauto--preview@2x.jpg 2x",
        text: "Продвижение 65 дилерских центров в 9 городах. Оптимизация всех процессов работы, переход на KPI и прозрачную аналитику данных."
    }
] %}

<section id="section-cases" class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">04</div>
            <h2 class="section-intro__heading h2">Развитие</h2>
            <div class="section-intro__desc text-default">
                Ты не заскучаешь: пул разнообразных задач обеспечен!
                Работа командная, работа самостоятельная — будет всё.
                А имена наших клиентов и мощные проекты обогатят твоё портфолио.
            </div>
        </div>

        <div class="mt-40 mt-md-64 mt-lg-80" data-slider-mobile-wrap data-cursor-get-offset>
            <div class="swiper-container container-rebuild-sm" data-slider-mobile>
                <div class="cards-list swiper-wrapper">
                    {% for card in casesList %}
                        <div class="swiper-slide cards-list__item">
                            {% include 'components::cards/card-case.twig' %}
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination-bullets pagination-bullets--default mt-24 d-md-none"
                     data-slider-pagination></div>
            </div>
        </div>

        <div class="show-more mt-40 mt-lg-64">
            {% include 'components::btn.twig' with {
                btn: {
                    minWidth: true,
                    href: "https://southmedia.ru/cases/",
                    attr: "target='_blank'",
                    text: "Посмотреть все",
                }
            } %}
        </div>

    </div>
</section>
