{% set workList = [
    {
        emoji: "&#9203;",
        heading: "График",
        desc: "Старт рабочего дня — на твоё усмотрение. Популярные варианты с 9 и 10 утра, но можем обсудить и другое время.",
    },{
        emoji: "&#127865;",
        heading: "Отпуск",
        desc: "У тебя законные 28 дней отпуска в году. Отдыхай с удовольствием — отпускные выплачиваем в полном объёме!",
    },{
        emoji: "&#127969;",
        heading: "Удаленка",
        desc: "Мы всех рады видеть в офисе, но если тебе нужно работать дистанционно, мы готовы рассмотреть удалённый режим.",
    },{
        emoji: "&#128567;",
        heading: "Больничный",
        desc: "При первых признаках простуды просто оставайся дома и выздоравливай. Больничный лист мы не требуем.",
    },{
        emoji: "&#127940;",
        heading: "Жизнь после работы",
        desc: "Она есть. Мы любим, когда рабочий день заканчивается вовремя, а каждый из нас соблюдает баланс между работой и личной жизнью.",
    },{
        emoji: "&#128184;",
        heading: "Вознаграж&shy;дение",
        desc: "Смело можешь рассчитывать не только на высокий уровень зарплаты, но и на адекватное и справедливое премирование.",
    }
] %}

<section class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">08</div>
            <div class="section-intro__heading h2">Комфортная работа</div>
            <div class="section-intro__desc text-default">
                С&nbsp;тебя — эффективность, а&nbsp;с&nbsp;нас — отличные условия&nbsp;труда!
            </div>
        </div>

        <div class="mt-40 mt-md-64 mt-lg-80" data-slider-mobile-wrap>
            <div class="swiper-container container-rebuild-sm" data-slider-mobile>
                <div class="cards-list swiper-wrapper">
                    {% for card in workList %}
                        <div class="swiper-slide cards-list__item">
                            {% include 'components::cards/card-work.twig' %}
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination-bullets pagination-bullets--default mt-24 d-md-none"
                     data-slider-pagination></div>
            </div>
        </div>

    </div>
</section>
