<section id="section-about" class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">01</div>
            <h2 class="section-intro__heading h2">О нас</h2>
            <div class="section-intro__desc text-default">
                Мы 12 лет продвигаем строительные и автомобильные компании.<br>
                С&nbsp;нами такие гиганты, как АСК, ИНСИТИ, КЛЮЧАВТО.
                Нам доверяют, потому что мы&nbsp;достигаем нужного результата. Всегда.
                И&nbsp;работаем с&nbsp;высокой скоростью.
                А ещё мы&nbsp;открытые и&nbsp;честные и&nbsp;таких же отношений хотим с&nbsp;тобой.
                Познакомимся ближе?
            </div>
        </div>

        <div class="mt-40 mt-md-64">
            <div class="achievements-list">
                <div class="achievement">
                    <div class="achievement__icon">
                        <img src="assets/images/achievement/achievement-1.svg" alt="">
                    </div>
                    <div class="achievement__text text-default">
                        Золотой сертифицированный<br>
                        партнер Битрикс 24
                    </div>
                </div>
                <div class="achievement">
                    <div class="achievement__icon">
                        <img src="assets/images/achievement/achievement-1.svg" alt="">
                    </div>
                    <div class="achievement__text text-default">
                        Сертифицированное<br>
                        агентство Яндекс.Директ
                    </div>
                </div>
                <div class="achievement">
                    <div class="achievement__icon">
                        <img src="assets/images/achievement/achievement-1.svg" alt="">
                    </div>
                    <div class="achievement__text text-default">
                        Premier Google<br>
                        Partner
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>