{% set vacancies = [
    {
        heading: "Junior Backend-developer/Младший Бэкенд-разработчик",
        subheading: "г. Краснодар",
        desc: "Привет! Мы ищем начинающего back-end разработчика с большим желанием развиваться.",
        content: "
            <h5>Задачи, которые предстоит решать:</h5>
            <h5>Мы сработаемся, если ты:</h5>
            <h5>Ждём твоё резюме!</h5>",
        btn: {
            minWidth: true,
            text: "Отправить резюме",
            attr: "data-popup-vacancy-trigger='0'"
        }
    },{
        heading: "Digital Project manager",
        subheading: "г. Краснодар",
        desc: "Растим клиентов и растём вместе с ними!<br><br>В связи с расширением отдела ищем Менеджера digital-проектов — эксперта в контекстной и таргетированной рекламе, способного выстроить эффективную работу команды.",
        content: "
            <h5>Задачи, которые предстоит решать:</h5>
            <ul>
                <li>
                    Планирование и управление проектами (постановка и распределение проектов внутри команды,
                    расстановка приоритетов решения задач и подзадач).
                </li>
                <li>Контроль качества выполнения проектов.</li>
                <li>Регулярная аналитика рекламных кампаний, оптимизация и выработка решений.</li>
                <li>Участие в переговорах с ключевыми клиентами.</li>
                <li>При необходимости - самостоятельное ведение рекламных кампаний.</li>
            </ul>
            <h5>Мы сработаемся, если ты:</h5>
            <ul>
                <li>Обладаешь релевантным опытом работы в интернет-маркетинге от 3 лет.</li>
                <li>Управлял командой более 3 человек и тебе это понравилось.</li>
                <li>Самостоятельно настраивал рекламные кампании и готов продолжать этим заниматься.</li>
                <li>
                    Хорошо знаком с продуктами performance маркетинга
                    (Yandex.Direct, Google.Adwords, GA, Яндекс.Метрика, VK, Target, FB и т.д.).
                </li>
                <li>
                    Умеешь выстраивать процессы внутри команды и
                    осуществлять работу в рамках этих процессов.
                </li>
            </ul>
            <h5>Ждём твоё резюме!</h5>",
        btn: {
            minWidth: true,
            text: "Отправить резюме",
            attr: "data-popup-vacancy-trigger='1'"
        }
    }
] %}

<section id="section-vacancy" class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">10</div>
            <h2 class="section-intro__heading h2">Кого мы ищем сегодня</h2>
        </div>

        <div class="mt-40 mt-md-64">

            <div class="accordion" data-accordion>
                {% for item in vacancies %}
                    <div class="accordion__item text-default" data-accordion-row>
                        <div class="accordion__head" data-accordion-trigger>
                            <i class="accordion__icon"></i>
                            {% if item.heading %}
                                <h3 class="accordion__heading h3">{{ item.heading|raw }}</h3>
                            {% endif %}
                            {% if item.subheading %}
                                <div class="accordion__subheading">{{ item.subheading|raw }}</div>
                            {% endif %}
                            {% if item.desc %}
                                <div class="accordion__desc user-text">{{ item.desc|raw }}</div>
                            {% endif %}
                        </div>
                        <div class="accordion__content user-text" data-accordion-content>
                            {% if item.content %}{{ item.content|raw }}{% endif %}
                            {% if item.btn %}
                                {% include 'components::btn.twig' with {
                                    btn: item.btn
                                } %}
                            {% endif %}
                        </div>
                        <div class="accordion__line"><hr></div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>
</section>
