{% set workflowList = [
    {
        src: "assets/images/workflow/BPMN2.svg",
        alt: "BPMN",
        text: "Описываем сложные процессы по методоло&shy;гии BPMN2"
    },{
        src: "assets/images/workflow/logo-bitrix24.svg",
        alt: "Битрикс24",
        text: "Автоматизируем процессы в Битрикс24"
    },{
        src: "assets/images/workflow/logo-ActiveCollab.svg",
        alt: "ActiveCollab",
        text: "Задачи ведём в ActiveCollab"
    },{
        src: "assets/images/workflow/logo-slack.svg",
        alt: "Slack",
        text: "Неформально общаемся в Slack"
    },{
        src: "assets/images/workflow/logo-google-meet.svg",
        alt: "Google Meet",
        text: "Звоним через Google Meet"
    },{
        src: "assets/images/workflow/logo-GSuite.svg",
        alt: "GSuite",
        text: "А здесь почта, календари, облако"
    },{
        src: "assets/images/workflow/logo-ClickUp.svg",
        alt: "ClickUp",
        text: "Часть задач ведём в ClickUp"
    },{
        src: "assets/images/workflow/Agile.svg",
        alt: "Agile",
        text: "Всю работу ведём по методологии Agile"
    }
] %}

<section id="section-workflow" class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">05</div>
            <h2 class="section-intro__heading h2">Порядок в&nbsp;работе</h2>
            <div class="section-intro__desc text-default">
                Мы любим порядок. Мы умеем распределять, контролировать, слушать, слышать и учиться на ошибках.
            </div>
        </div>
        <div class="mt-40 mt-md-64" data-slider-mobile-wrap>
            <div class="swiper-container container-rebuild-sm" data-slider-mobile>
                <div class="swiper-wrapper workflow-list">
                    {% for card in workflowList %}
                        <div class="swiper-slide workflow-list__item">
                            {% include 'components::cards/card-workflow.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination-bullets pagination-bullets--default mt-24 d-md-none"
                 data-slider-pagination></div>
        </div>
    </div>
</section>
