{% set slidesTeam = [
    {
        src: "assets/tmp/team/card-team-1.jpg",
        srcset: "assets/tmp/team/card-team-1@2x.jpg",
        heading: "Подзаголовок",
        desc: "Описание"
    },{
        src: "assets/tmp/team/card-team-1.jpg",
        srcset: "assets/tmp/team/card-team-1@2x.jpg",
        heading: "Подзаголовок 2",
        desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, totam."
    },{
        src: "assets/tmp/team/card-team-1.jpg",
        srcset: "assets/tmp/team/card-team-1@2x.jpg",
        heading: "Подзаголовок 3",
        desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, totam."
    }
] %}

<section id="section-team" class="section">
    <div class="container">
        <div class="section-intro">
            <div class="section-intro__number">03</div>
            <h2 class="section-intro__heading h2">Команда</h2>
            <div class="section-intro__desc text-default">
                Наша сила — в&nbsp;нашей команде. Каждый из&nbsp;нас ценит свою работу и&nbsp;тёплые отношения.
                Мы&nbsp;ладим между собой, помогаем друг другу словом, делом и&nbsp;улыбкой.
            </div>
        </div>

        <div class="slider-single-wrap mt-64 mt-lg-80" data-slider-single-wrap>
            <div class="slider-single swiper-container" data-slider-single>
                <div class="swiper-wrapper">
                    {% for card in slidesTeam %}
                        <div class="swiper-slide">
                            {% include 'components::cards/card-team.twig' %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {% include 'components::nav-arrows.twig' %}
            <div class="pagination-bullets pagination-bullets--default mt-24 d-lg-none"
                 data-slider-pagination></div>
        </div>

    </div>
</section>
