<div class="card-team">
    <div class="card-team__image">
        <img data-card-hover data-card-img src="{{ card.src }}"{% if card.srcset %} srcset="{{ card.srcset }}"{% endif %} alt="">
    </div>
    <h3 class="card-team__heading h5">{{ card.heading|raw }}</h3>
    <div class="card-team__desc text-default">{{ card.desc|raw }}</div>
</div>