<div class="card-workflow">
    <div class="card-workflow__image">
        <img src="{{ card.src }}"{% if card.srcset %} srcset="{{ card.srcset }}"{% endif %}
             alt="{{ card.alt }}"{% if card.imgWidth %} width="{{ card.imgWidth }}"{% endif %}{% if card.imgHeight %} height="{{ card.imgHeight }}"{% endif %}>
    </div>
    <div class="card-workflow__text text-default">{{ card.text|raw }}</div>
</div>
