<a href="{{ card.href }}" target="_blank" class="card-case" data-cursor-hover data-cursor-text="Подробнее">
    <div class="card-case__image">
        <img src="{{ card.src }}"
             {% if card.srcset %}srcset="{{ card.srcset }}"{% endif %}
             loading="lazy" alt="">
    </div>
    <div class="card-case__content">
        <div class="card-case__text text-default">{{ card.text|raw }}</div>
    </div>
</a>
