<div class="card-story{% if card.cssModifier %} card-story--{{ card.cssModifier }}{% endif %}{% if card.class %} {{ card.class }}{% endif %}"
     data-cursor-hover data-popup-story-trigger data-story-id="{{ card.storyID }}">
    <div class="card-story__name text-default">{{ card.name|raw }}</div>
    <div class="card-story__label h3">{{ card.label|raw }}</div>
    {% if card.entity1 %}<img src="{{ card.entity1 }}" class="card-story__entity-1 entity" alt="">{% endif %}
    {% if card.entity2 %}<img src="{{ card.entity2 }}" class="card-story__entity-2 entity" alt="">{% endif %}
</div>