<div class="card-well-being card-well-being--{{ card.modifier }}">
    <h3 class="card-well-being__heading h3">{{ card.heading|raw }}</h3>
    <div class="card-well-being__desc text-default">{{ card.desc|raw }}</div>
    <img src="{{ card.icon }}" alt="" class="card-well-being__image entity">
</div>