<div class="card-worth card-worth--{{ card.modifier }}" data-card-worth="{{ card.modifier }}">
    <h3 class="card-worth__heading h3" data-card-worth-heading>{{ card.heading|raw }}</h3>
    <div class="card-worth__desc text-default" data-card-worth-desc>{{ card.desc|raw }}</div>
    <div class="card-worth__more text-default">Читать полностью</div>
    <div class="entity entity--{{ card.entity1.class }}">
        <img src="{{ card.entity1.src }}" alt="{{ card.entity1.alt }}" loading="lazy">
    </div>
    <div class="entity entity--{{ card.entity2.class }}">
        <img src="{{ card.entity2.src }}" alt="{{ card.entity2.alt }}" loading="lazy">
    </div>
</div>
