<div class="card-work">
    <div class="card-work__head">
        <div class="card-work__icon">{{ card.emoji|raw }}</div>
        <h3 class="card-work__heading h3">{{ card.heading|raw }}</h3>
    </div>
    <div class="card-work__desc text-default">{{ card.desc|raw }}</div>
</div>