html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  overflow-y: hidden;
}

.header {
  z-index: $z-header;
}

.footer {
  z-index: $z-footer;
  margin-top: auto;
  margin-bottom: 0;
}

.container {
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem($container-gutter-sm);
  padding-right: rem($container-gutter-sm);

  @include media-breakpoint-only(md) {
    padding-left: rem($container-gutter-md);
    padding-right: rem($container-gutter-md);
  }

  @include media-breakpoint-up(lg) {
    max-width: rem($container-max-width);
    padding-left: rem($container-gutter);
    padding-right: rem($container-gutter);
  }
}

.container-rebuild-sm {
  @include media-breakpoint-only(sm) {
    margin-left: rem(-$container-gutter-sm);
    margin-right: rem(-$container-gutter-sm);
    padding-left: rem($container-gutter-sm);
    padding-right: rem($container-gutter-sm);
  }
}

[data-cursor-hover] {
  position: relative;
  overflow: hidden;
  cursor: none;
  a {
    cursor: none;
  }
}

.loaded [data-card-hover] {
  opacity: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}
