@font-face {
  font-family: 'Gotham Pro';
  font-display: fallback;
  src: local("Gotham Pro Light"), local("GothamPro-Light"),
  url(../fonts/GothamPro/GothamPro-Light.woff2) format("woff2"),
  url(../fonts/GothamPro/GothamPro-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: fallback;
  src: local("Gotham Pro"), local("GothamPro"),
  url(../fonts/GothamPro/GothamPro.woff2) format("woff2"),
  url(../fonts/GothamPro/GothamPro.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: fallback;
  src: local("Gotham Pro Italic"), local("GothamProItalic"),
  url(../fonts/GothamPro/GothamPro-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: fallback;
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"),
  url(../fonts/GothamPro/GothamPro-Medium.woff2) format("woff2"),
  url(../fonts/GothamPro/GothamPro-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: fallback;
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"),
  url(../fonts/GothamPro/GothamPro-Bold.woff2) format("woff2"),
  url(../fonts/GothamPro/GothamPro-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  font-display: fallback;
  src: local("Gotham Pro Black"), local("GothamPro-Black"),
  url(../fonts/GothamPro/GothamPro-Black.woff2) format("woff2"),
  url(../fonts/GothamPro/GothamPro-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}